.about {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	gap: 4rem;
	padding-top: 4rem;
	color: $maxWidth;
	@include minmax-690-920 {
		grid-template-columns: 1fr 1fr;
	}

	@include screen-690 {
		grid-template-columns: auto;
	}

	// .about__column
	&__column {
		display: flex;
		flex-direction: column;

		&:nth-child(3) {
			height: 100%;

			@include minmax-690-920 {
				grid-column: -3 / -1;
			}

			.about__body {
				border: none;
			}
		}
	}

	// .about__body
	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		border-bottom: 1px solid #9999992c;
	}

	// .about__text
	&__text {
		padding: 2rem 0;

		p {
			color: $gray;

			&:nth-child(1) {
				color: rgb(85, 85, 255);
			}

			&:nth-child(2) {
				color: $gray;
			}

			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}
	}

	// .about__footer
	&__footer {
		padding: 2rem 0;

		@include screen-690 {
			display: flex;
			justify-content: center;
		}
	}

	// .about__title
	&__title {
		font-size: 2rem;
		text-shadow: 0 0 1px $neon-electric;
	}

	// .about__item-services
	&__item-services {
		flex-wrap: nowrap;
		padding: 2.5rem 0;
		display: flex;
		align-items: center;
		gap: 2rem;

		&:not(:last-child) {
			border-bottom: 1px solid #9999992c;
		}

		[class*='icon-'] {
			&::before {
				cursor: pointer;
				font-size: 3.2rem;
				color: $gray;
			}
		}

		span {
			color: $gray;
		}
	}

	// .about__button
	&__button {
		display: block;
		width: fit-content;
		padding: 1rem 2rem;
		background-color: #3d3d3d;
		border-radius: 4px;
		font-weight: 500;
		text-transform: uppercase;
		text-shadow: 1px 1px 2px #000;
		transition:
			color 0.4s,
			background 0.4s ease-in-out;

		&:hover {
			background: #392b7c;
			color: #392b7c;
		}

		@include screen-375 {
			width: 100%;
			text-align: center;
		}
	}

	// .about__team-items
	&__team-items {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: space-between;
		height: 100%;
	}
}

.team-mates {
	margin: 2rem 0;
	// .team-mates__list
	&__list {
		display: flex;
	}

	// .team-mates__image
	&__image {
		width: 104px;
		height: 104px;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 3px 3px 10px #000;
		margin-right: 2rem;
		opacity: 0.5;
	}

	// .team-mates__name
	&__name {
		font-size: 1.6rem;
		color: $neon-blue-dark;
		margin-bottom: 1rem;
	}

	// .team-mates__text
	&__text {
		font-size: 1.4rem;
		color: $gray;
	}
}
