.menu-float {
	display: none;
	color: #fff;
	position: fixed;
	bottom: 2rem;
	left: 0;
	width: 100%;
	font-size: 1.5rem;
	opacity: 1;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	z-index: 9;
	pointer-events: none;
	z-index: 12;
	@include _768 {
		display: block;
	}

	&.is-visible {
		opacity: 1;
		bottom: 3rem;
	}

	// .menu-float__body
	&__body {
		padding: 0 8px;
		--innerWidth: 1440;
		width: 100%;
		max-width: var(--innerWidth);
		margin: 0 auto;
		padding: 0 var(--pad-inner);
	}

	// .menu-float__inner
	&__inner {
		position: relative;
		display: flex;
		justify-content: center;
	}

	// .menu-float__wrapper
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		// min-width: 0;
		max-width: fit-content;
		padding: 5px;
		border-radius: 5px;
		background: #2b2d41e3;
		pointer-events: auto;
		transition: all 0.4s;
		box-shadow: 2px 2px 10px #000;

		&.is-open {
			.menu-float__top {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	// .menu-float__top
	&__top {
		overflow: hidden;
		@extend .is-open;
	}

	// .menu-float__top-content
	&__top-content {
		min-height: 0;
	}

	// .menu-float__bottom
	&__bottom {
		position: relative;
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	// .menu-float__layout
	&__layout {
	}

	// .menu-float__content
	&__content {
		height: 100%;
		padding: 0 1.5rem;
		display: inline-flex;
		align-items: center;
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
	}

	// .menu-float__mail
	&__mail {
		width: 100%;
		padding: 1.5rem 0;
		text-transform: uppercase;
		color: $electric-lime;
		font-family: IrmCIEUcs, roboto, sans-serif;
		font-weight: 400;
		transition: all 0.4s ease-in-out;
		@include flex-align-center;

		&:hover {
			color: $neon-blue;
		}
	}

	// .menu-float__logo
	&__logo {
		font-size: 1.6rem;
		width: 100%;
		height: 100%;
		display: none;
		i {
			font-size: 2rem;
		}
		@include _425 {
			display: block;
		}
	}

	// .menu-float__breadcrumb
	&__breadcrumb {
		font-family: IrmCIEUcs, sans-serif;
		letter-spacing: 4px;
		@include _425 {
			display: none;
		}
	}

	// .menu-float__subtitle
	&__subtitle {
	}

	// .menu-float__nav
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
	}

	// .menu-float__menu-link
	&__menu-link {
		cursor: pointer;
		position: relative;
		text-transform: uppercase;
		transition: all 0.4s ease-in-out;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:hover {
			color: $neon-blue;
		}

		@extend .link_underline;
	}

	// .menu-float__layout--primary
	&__layout--primary {
		.menu-float__content {
			background-color: $color;
			@include _425 {
				width: 5rem;
			}
		}
	}

	// .menu-float__layout--secondary
	&__layout--secondary {
		.menu-float__content {
			background-color: #0f0b1af6;
			@include _425 {
				font-size: 1.2rem;
			}
		}
	}

	// .menu-float__layout--button
	&__layout--button {
		.menu-float__content {
			background-color: $color;
			height: 100%;
		}

		.burger-button {
			height: 100%;
			display: flex;
			align-items: center;
		}
	}
}

.main-menu {
	width: 100%;
	margin-bottom: 6px;
	padding: 3rem;
	background: #0b0813ec;
	border-radius: 5px;
	transition: all 0.4s;

	// .main-menu__menu-wrapper
	&__menu-wrapper {
		display: flex;
		gap: 2rem;
	}

	// .main-menu__column
	&__column {
		flex: 0 1 50%;
		background-image: linear-gradient(
			to bottom,
			#7a7a7a 0 10%,
			rgba(255, 255, 255, 0) 10%
		);
		background-position: left top;
		background-repeat: repeat-y;
		background-size: 1px 8px;
	}

	// .main-menu__menu-nav
	&__menu-nav {
	}

	// .main-menu__menu-link
	&__menu-link {
		margin-left: 1.2rem;
		font-size: 1.5rem;
		white-space: nowrap;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	// .main-menu__title
	&__title {
		margin-left: 1.5rem;
		position: relative;
		padding-bottom: 1.5rem;
		line-height: 100%;
		color: $gray;

		&::before {
			content: '';
			position: absolute;
			left: -13px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: var(--menu-color-2, #fff);
		}
	}
}

.dot {
	// .dot_after
	&_after {
	}
}
