.main-slide {
	position: relative;

	// .main-slide__pagination
	&__pagination {
		position: absolute;
		top: 0 !important;
		right: 0 !important;
		width: 6rem;
		height: 100%;
		z-index: 10;
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;

		@include screen-690 {
			width: 3rem;
		}

		.swiper-pagination-bullet {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			align-items: center;

			&::after {
				content: '';
				position: absolute;
				right: 0;
				width: 0;
				transition: scale 0.5s ease-in-out;
				scale: 0;
			}

			&::before {
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: $border-color;
				transition: background 0.5s ease-in-out;
			}

			&:not(:last-child) {
				margin-bottom: 3rem;
			}
		}

		.swiper-pagination-bullet-active {
			&::after {
				height: 1px;
				background: $electric-lime;
				width: calc(100% - 16px);
				scale: 1;
			}

			&::before {
				content: '';
				position: absolute;
				background: yellowgreen;
				width: 12px;
				height: 12px;
				scale: 1.2;
				transition: scale 0.5s ease-in-out;
				border-radius: 50%;
			}
		}
	}

	// .main-slide__body
	&__body {
		overflow: hidden;
	}

	// .main-slide__slide-wrapper
	&__slide-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .main-slide__content
	&__content {
		padding-right: 3.6rem;
		position: absolute;
		// display: flex;
		// flex-direction: column;
		// gap: 4rem;
		// justify-content: center;
	}

	// .main-slide__title
	&__title {
		width: 100%;
		text-align: left;
		text-shadow: 1px 1px 7px #000;
		line-height: 130.952381%; /* 76px/42 */
		font: {
			size: 54px;
			weight: 300;
			family: $font-family-secondary;
		}

		span {
			&:nth-child(1) {
				display: block;
				color: $liquid-neon;
			}

			&:nth-child(3) {
				color: $liquid-neon;
				font-stretch: expanded;
				letter-spacing: 1.5px;

				font: {
					family: $font-family-exclude;
					size: 57px;
					weight: 600;
				}

				@include minmax-490-1920 {
					font-size: calc(28px + (54 - 28) * ((100vw - 490px) / (1920 - 490)));
				}

				@include screen-490 {
					font-size: 28px;
				}
			}
		}

		@include minmax-490-1920 {
			font-size: calc(24px + (54 - 24) * ((100vw - 490px) / (1920 - 490)));
		}

		@include screen-490 {
			font-size: 24px;
		}
	}

	// .main-slide__text
	&__text {
		text-align: left;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 1.5px;
		max-width: 1100px;
		text-shadow: rgb(0, 0, 0) 1px 0 10px;
		text-shadow:
			0px 0px 15px #000000,
			0 0 1em #000,
			0 0 0.2em blue;
		line-height: 150%;

		@include minmax-490-1920 {
			font-size: calc(13px + (24 - 13) * ((100vw - 490px) / (1920 - 490)));
		}

		@include screen-490 {
			font-size: 1.6rem;
		}
	}

	// .main-slide__slide-image
	&__slide-image {
		position: relative;
		height: 100%;

		img {
			pointer-events: none;
			opacity: 0.5;
			max-width: 100%;
			object-position: center;
			width: 100vw;
			height: 100vh;
			object-fit: cover;
		}
	}

	// .main-slide__media
	&__media {
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 99;
	}
}
