.achieve-items {
	height: 100%;
	// .achieve-items__body
	&__body {
		position: relative;
		padding: 5rem 4rem 10rem;
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .achieve-items__bg-image
	&__bg-image {
		position: absolute;
		pointer-events: none;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
			filter: blur(1px);
			opacity: 0.15;
		}
	}

	// .achieve-items__wrapper
	&__wrapper {
		border: groove;
		width: 100%;
		height: 100%;
		height: 400px;
		z-index: 1;
		// display: flex;
		gap: 3rem;
		align-items: center;
		justify-content: space-between;
	}

	// .achieve-items__item
	&__item {
		position: relative;
		// width: 100%;
		min-width: 350px;
		height: 100%;
	}

	// .achieve-items__image
	&__image {
		overflow: hidden;
		padding-bottom: 20%;
		filter: $filter;
		// -----------------------------------------------------------------------
		img {
			max-width: 250px;
			// min-width: 350px;
			// pointer-events: none;
			cursor: grab;
			object-position: left;
		}
		// &::before {
		// 	// position: absolute;
		// 	content: '';
		// 	display: block;
		// 	transition: all 0.5s ease-in-out;
		// }

		// &:nth-child(1) {
		// 	// perspective-origin: 45% 320%;
		// 	// transform-style: preserve-3d;
		// 	// perspective: 100px;
		// 	// -----------------------------------------------------------------------

		// 	height: 250px;

		// 	&::before {
		// 		position: relative;
		// 		top: 0;
		// 		left: 0;
		// 		background: url('../img/about/slide/sert1.png') center / contain
		// 			no-repeat;
		// 		width: 350px;
		// 		height: 100%;
		// 		// transform: rotateX(5deg) translateZ(1px) translate(1px, 1px);
		// 	}

		// 	&:hover {
		// 		&::before {
		// 			transform: rotateX(0deg) translateZ(1px) translate(50px, 1px);
		// 		}
		// 	}
		// }

		// &:nth-child(2) {
		// 	// width: 150px;
		// 	// perspective-origin: 45% 320%;
		// 	// transform-style: preserve-3d;
		// 	// perspective: 100px;
		// 	// -----------------------------------------------------------------------
		// 	// width: 350px;
		// 	height: 250px;
		// 	z-index: 3;
		// 	&::before {
		// 		background: url('../img/about/slide/sert2.png') center / 100% 100%
		// 			no-repeat;
		// 		width: 200px;
		// 		height: 250px;
		// 		// transform: rotateX(5deg) translateZ(1px) translate(-35px, 1px);
		// 		// scale: 1.4;
		// 	}
		// 	&:hover {
		// 		&::before {
		// 			transform: rotateX(0deg) translateZ(1px) translate(-50px, 1px);
		// 			scale: 1;
		// 		}
		// 	}
		// }

		// &:nth-child(3) {
		// 	// perspective-origin: 45% 320%;
		// 	// transform-style: preserve-3d;
		// 	// perspective: 100px;
		// 	// -----------------------------------------------------------------------

		// 	height: 250px;

		// 	&::before {
		// 		position: relative;
		// 		top: 0;
		// 		left: 0;
		// 		background: url('../img/about/slide/sert3.png') center / 100% 100%
		// 			no-repeat;
		// 		width: 350px;
		// 		height: 100%;
		// 		// transform: rotateX(5deg) translateZ(1px) translate(1px, 1px);
		// 	}

		// 	&:hover {
		// 		&::before {
		// 			transform: rotateX(0deg) translateZ(1px) translate(50px, 1px);
		// 		}
		// 	}
		// }
		// &:nth-child(4) {
		// 	// perspective-origin: 45% 320%;
		// 	// transform-style: preserve-3d;
		// 	// perspective: 100px;
		// 	// -----------------------------------------------------------------------
		// 	width: 350px;
		// 	height: 250px;

		// 	&::before {
		// 		background: url('../img/about/slide/sert4.png') center / cover no-repeat;
		// 		width: 350px;
		// 		height: 250px;
		// 		// transform: rotateX(5deg) translateZ(0px) translateX(1px);
		// 	}

		// 	&:hover {
		// 		z-index: 9;
		// 		&::before {
		// 			transform: rotateX(0deg) translateZ(0px) translate(50px, 1px);
		// 		}
		// 	}
		// }

		// &:nth-child(5) {
		// 	// width: 150px;
		// 	// perspective-origin: 45% 320%;
		// 	// transform-style: preserve-3d;
		// 	// perspective: 100px;
		// 	// -----------------------------------------------------------------------
		// 	// width: 350px;
		// 	height: 250px;
		// 	z-index: 3;
		// 	&::before {
		// 		background: url('../img/about/slide/sert5.png') center / 100% 100%
		// 			no-repeat;
		// 		width: 200px;
		// 		height: 250px;
		// 		// transform: rotateX(5deg) translateZ(1px) translate(-35px, 1px);
		// 		// scale: 1.4;
		// 	}
		// 	&:hover {
		// 		&::before {
		// 			transform: rotateX(0deg) translateZ(1px) translate(-50px, 1px);
		// 			scale: 1;
		// 		}
		// 	}
		// }
	}

	// .achieve-items__new-container
	// &__new-container {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 50%;
	// 	transform: translate(-50%, 0);
	// 	margin: 0 auto;
	// 	width: 450px;
	// 	height: 100%;
	// 	border: groove;
	// 	z-index: 12;
	// }
}
