.services {
	position: relative;
	// .services__body
	&__body {
		position: relative;
		z-index: 9;
		padding-bottom: 6rem;
		flex-direction: column;
		@include flex-align-center-justify-center;
	}

	// .services__title
	&__title {
		position: relative;
		display: inline;
		padding: 0 5rem 2rem;
		font: {
			family: 'aa_neon', serif;
			size: 7.5rem;
			weight: normal;
		}
		text-align: center;
		line-height: 100%;
		letter-spacing: 0;
		color: $neon-blue;
		z-index: 9;

		//! ------------------------------------------------------------------------
		perspective-origin: 45% 320%;
		transform-style: preserve-3d;
		perspective: 100px;
		filter: $filter;
		//! ------------------------------------------------------------------------
		&::before {
			content: '';
			width: 100%;
			height: 70%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			border-radius: 50%;
			@extend .gradient-title;
		}

		&:nth-child(1) {
			margin: -3rem 0 6rem;
			@include _690 {
				font-size: 5.1rem;
				margin: -2rem 0 6rem;
			}
			@include _425 {
				font-size: 3.4rem;
				margin: -1.2rem 0 6rem;
			}
			&::before {
				transform: translate(0, 58%);
			}
			&::after {
				content: 'наши услуги';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 70%;
				font: {
					weight: 900;
				}
				@include _425 {
					// padding: 0 5.5rem;
				}
				transform: rotateX(15deg) translateZ(-11px);
				@extend .shadow-after;
			}
		}
	}

	// .services__content
	&__content {
		margin: 4rem 0 0;
	}

	// .services__offer
	&__offer {
		padding: 2rem;
	}
}

.material-parallax {
	position: fixed;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	z-index: 9;
}

.parallax {
	position: absolute;
	background-size: cover;
	overflow: hidden;
	z-index: 1;
	width: 100%;
	height: 100%;

	// .parallax__image
	&__image {
		display: flex;
		justify-content: center;
		opacity: 0.3;
		z-index: 0;
		width: 100%;
		height: 100%;
		@extend .gradient-services;
		object-position: center;
		img {
			pointer-events: none;
			width: 100%;
			min-width: 1440px;
			height: 100%;
			max-width: none;
			object-fit: contain;
			object-position: center;
		}
	}
}

.equalizer-content {
	z-index: 999;
	overflow: hidden;
	width: 98%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	&.vertical {
		flex-direction: row;
	}

	&__square {
		border-bottom: 10px solid $neon-blue;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 290px;
		height: 50%;
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

.content-box {
	// .content-box__body
	&__body {
		position: relative;
		padding: 2rem;
		margin-bottom: 8rem;
		gap: 2.5rem;
		display: flex;
	}

	// .content-box__column
	&__column {
		position: relative;
		min-width: 250px;
		height: 300px;
		width: 20%;

		&::before {
			content: '';
			display: block;
			position: absolute;
			box-shadow: $boxShadow;
			top: -20px;
			left: 30px;
			right: 30px;
			bottom: -20px;
			z-index: -1;
			border-radius: 4px;
			opacity: 0.3;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			&::before {
				top: -10px;
				left: -10px;
				right: -10px;
				bottom: -10px;
				opacity: 0.8;
			}
			.content-box__image {
				scale: 1.05;
			}

			.content-box__bg-img {
				transform: translateY(0);
				opacity: 1;
			}
			.content-box__text {
				transform: translateY(-150%);
			}
		}
	}
	// .content-box__image
	&__image {
		overflow: hidden;
		transition: all 0.5s ease-in-out;
		height: 100%;
		cursor: pointer;
		border-radius: 4px;
		filter: $filter;

		img {
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			object-fit: cover;
			object-position: center;
			transition: scale 0.4s ease-in-out;
			&:hover {
				scale: 1.1;
			}
		}

		svg {
			pointer-events: none;
		}
	}

	// .content-box__bg-img
	&__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		opacity: 0;
		transition:
			opacity 1.5s,
			box-shadow 0.3s ease-in-out 0.2s;
	}

	// .content-box__svg
	&__svg {
		width: 100%;
		object-fit: cover;
		svg {
			position: absolute;
			right: 0;
			max-width: 195px;
			path {
				opacity: 0;
				stroke: $electric-lime;
			}
		}
	}

	// .content-box__text
	&__text {
		position: absolute;
		font-family: 'aa_neon', Helvetica, sans-serif;
		left: 0;
		right: 0;
		font-size: 2.4rem;
		text-align: center;
		bottom: 1rem;
		font-weight: normal;
		text-shadow: 0 0 7px #000;
		display: flex;
		background-color: #0b0813bb;
		justify-content: center;
		color: $neon-blue;
		transition: transform 0.4s ease-in-out;
		svg {
			height: 32px;
			path {
				fill: url(#grad);
				stroke: currentColor;
				stroke-width: 1px;
			}
		}
	}
}

.offer-container {
	flex-direction: column;
	height: 100%;
	@include flex-align-center-justify-space-between;

	// .offer-container__title
	&__title {
		position: relative;
		display: inline;
		padding: 0 5rem 2rem;
		margin-bottom: 6rem;
		font: {
			family: 'aa_neon', serif;
			size: 3rem;
			weight: normal;
		}
		text-align: center;
		line-height: 100%;
		letter-spacing: 0;
		color: $neon-blue;
		z-index: 9;
		@include _690 {
			font-size: 2.6rem;
		}
		@include _490 {
			font-size: 2.2rem;
			padding: 0 2rem 2rem;
			margin: 0 6rem 6rem;
			line-height: 120%;
		}
		//! ------------------------------------------------------------------------
		perspective-origin: 45% 320%;
		transform-style: preserve-3d;
		perspective: 100px;
		filter: $filter;
		//! ------------------------------------------------------------------------

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			border-radius: 50%;
			transform: translate(0, 10%);
			@extend .gradient-title;
		}

		&::after {
			content: 'специальное предложение';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 70%;
			font: {
				weight: 900;
			}
			transform: rotateX(15deg) translateZ(-5px);
			@extend .shadow-after;
		}
	}

	// .offer-container__body
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		gap: 2rem;
		height: 100%;
		@include _690 {
			grid-template-columns: 1fr;
		}
	}

	// .offer-container__column
	&__column {
		cursor: pointer;
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $border-color;
		padding: 2rem;
		border-radius: 4px;

		filter: $filter;
		z-index: 9;
		@extend .gradient-spec;
		&:hover {
			.offer-container__thumbnail {
				opacity: 1;
			}
		}
		&:nth-child(2) {
			@extend .gradient-spec-comfort;
		}
	}

	// .offer-container__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		flex: 1 1 100%;
	}

	// .offer-container__thumbnail
	&__thumbnail {
		opacity: 0;
		position: absolute;
		pointer-events: none;
		inset: 0;
		transition: all 0.7s ease-in-out;
		&::before {
			content: '';
			@extend .border-present;
		}
		background: linear-gradient(-45deg, #04d9ff81, #170e3181 83%);
		background-size: 200% 200%;
	}

	// .offer-container__link
	&__link {
		cursor: pointer;
		flex: 0 1 auto;
		margin-bottom: 2rem;
		display: inline;
	}

	// .offer-container__title-box
	&__title-box {
		color: ghostwhite;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.icon-rub {
			font-size: 24px;
			font-weight: 100;
		}

		span {
			font-size: 2.4rem;

			&:nth-child(1) {
				margin-right: 2rem;
			}

			&:nth-child(2) {
				white-space: nowrap;
				display: inline-flex;
				align-items: center;

				i {
					margin-left: 1rem;
				}
			}

			@include _425 {
				font-size: 2rem;
			}
		}
	}

	// .offer-container__text
	&__text {
		color: gray;
		font-size: 1.8rem;
		@include _425 {
			font-size: 1.6rem;
		}
	}
}
