.services {
	position: relative;

	// .services__body
	&__body {
		position: relative;
		z-index: 9;
		padding: 2rem 0 6rem;
		@include flex-align-center-justify-center;
		flex-direction: column;
	}

	// .services__title
	&__title {
		position: relative;
		display: inline;
		padding: 0 5rem 2rem;
		opacity: 0;
		font: {
			family: 'aa_neon', serif;
			size: 7.5rem;
			weight: normal;
		}
		text-align: center;
		line-height: 100%;
		letter-spacing: 0;
		color: $neon-blue;
		z-index: 9;

		perspective-origin: 45% 320%;
		transform-style: preserve-3d;
		perspective: 100px;
		filter: $filter;
		//! ------------------------------------------------------------------------
		transform: translateY(100%);
		transition:
			opacity 0.9s,
			transform 0.9s;
		&.visible {
			opacity: 1;
			transform: translateY(0) !important;
		}
		//! ------------------------------------------------------------------------
		&::before {
			content: '';
			width: 100%;
			height: 70%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			border-radius: 50%;
			@extend .gradient-title;
		}

		&:nth-child(1) {
			margin: -6rem 0 6rem;

			&::before {
				transform: translate(0, 58%);
			}
			&::after {
				content: 'наши услуги';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 70%;
				font: {
					weight: 900;
				}

				transform: rotateX(15deg) translateZ(-11px);
				@extend .shadow-after;
			}
		}
	}

	// .services__content
	&__content {
		padding: 2rem;
		margin-bottom: 4rem;
		gap: 2.5rem;
		@include flex-justify-space-evenly;
	}

	// .services__offer
	&__offer {
		padding: 2rem;
	}
}

.material-parallax {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.parallax {
	position: absolute;
	background-size: cover;
	object-position: center;
	z-index: 1;
	width: 100vw;
	height: 100%;
	background-size: 100% 200%;

	// .parallax__image
	&__image {
		top: 0;
		left: -1px;
		right: -1px;
		bottom: 0;
		opacity: 0.3;
		z-index: 0;
		width: 100%;
		height: 100%;

		img {
			// pointer-events: none;
			width: 100%;
			height: 100%;
			left: 0;
			bottom: 0;
			max-width: none;
			object-fit: cover;
			object-position: center;
		}
	}
}

.content-box {
	// .content-box__column
	&__column {
		width: 100%;
		height: 30rem;
		position: relative;
		width: 20%;
		// transition: all 0.5s ease-in-out;
		&:hover {
			.content-box__image {
				scale: 1.01;
				box-shadow: $boxShadow;
			}

			.content-box__bg-img {
				transform: translateY(0);
				opacity: 1;
			}
		}
		&.line {
			&:nth-child(1) {
				// transform: translateX(552px);
			}
			&:nth-child(2) {
				position: relative;
				// transform: translateX(277px);
				border: 1px solid #fff;
			}
			&:nth-child(3) {
				position: relative;
				border: 1px solid #fff;
			}
			&:nth-child(4) {
				position: relative;
				z-index: 9;
				// transform: translateX(-280px);
				border: 1px solid #fff;
			}
			&:nth-child(5) {
				position: relative;
				// transform: translateX(-556px);
				border: 1px solid #fff;
			}
		}
	}

	// .content-box__image
	&__image {
		overflow: hidden;
		transition: all 0.5s ease-in-out;
		height: 100%;
		cursor: pointer;
		filter: $filter;

		img {
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 30rem;
			object-fit: cover;
			object-position: center;
			transition: scale 0.4s ease-in-out;
			&:hover {
				scale: 1.1;
			}
		}
		svg {
			pointer-events: none;
		}
	}

	// .content-box__bg-img
	&__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		opacity: 0;
		transition:
			opacity 1.5s,
			box-shadow 0.3s ease-in-out 0.2s;
	}
	// .content-box__svg
	&__svg {
		width: 100%;
		object-fit: cover;
		svg {
			position: absolute;
			right: 0;
			max-width: 195px;
			path {
				opacity: 0;
				stroke: $electric-lime;
			}
		}
	}

	// .content-box__text
	&__text {
		position: absolute;
		font-family: 'aa_neon', Helvetica, sans-serif;
		left: 0;
		right: 0;
		font-size: 2.4rem;
		text-align: center;
		bottom: 1rem;
		font-weight: normal;
		text-shadow: 0 0 7px #000;
		display: flex;
		justify-content: center;
		color: $liquid-neon;
		svg {
			height: 40px;
			path {
				// opacity: 1;
				fill: url(#grad);
				stroke: currentColor;
				stroke-width: 1px;
			}
		}
	}
}
// -----------------------------------------------------------------------------

.offer-container {
	@include flex-align-center-justify-space-between;
	flex-direction: column;
	// .offer-container__title
	&__title {
		position: relative;
		display: inline;
		padding: 0 5rem 2rem;
		margin-bottom: 6rem;
		font: {
			family: 'aa_neon', serif;
			size: 3rem;
			weight: normal;
		}
		text-align: center;
		line-height: 100%;
		letter-spacing: 0;
		color: $neon-blue;
		z-index: 9;
		opacity: 0;

		perspective-origin: 45% 320%;
		transform-style: preserve-3d;
		perspective: 100px;
		filter: $filter;
		//! ------------------------------------------------------------------------
		transform: translateY(100%);
		transition:
			opacity 0.9s,
			transform 0.9s;
		&.visible {
			opacity: 1;
			transform: translateY(0) !important;
		}
		//! ------------------------------------------------------------------------

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			border-radius: 50%;
			transform: translate(0, 10%);
			@extend .gradient-title;
		}
		&::after {
			content: 'специальное предложение';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 70%;
			font: {
				weight: 900;
			}
			transform: rotateX(15deg) translateZ(-5px);
			@extend .shadow-after;
		}
	}

	// .offer-container__body
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	// .offer-container__column
	&__column {
		cursor: pointer;
		position: relative;
		border-bottom: 1px solid $border-color;
		padding: 2rem;
		@extend .gradient-spec;
		border-radius: 4px;
		transition: all 0.5s ease-in-out;
		filter: $filter;

		&:hover {
			box-shadow: $boxShadow;
			content: '';
			@extend .gradient-spec-active;
		}
		&:nth-child(2) {
			@extend .gradient-spec-comfort;
			&:hover {
				@extend .gradient-spec-active;
			}
		}
	}
	// .offer-container__link
	&__link {
		cursor: pointer;
	}

	// .offer-container__title
	&__title-box {
		color: ghostwhite;
		margin-bottom: 2rem;
		@include flex-align-center-justify-space-between;
		.icon-rub {
			font-size: 24px;
			font-weight: 100;
		}
		span {
			font-size: 2.4rem;
			&:nth-child(2) {
				display: inline-flex;
				align-items: center;

				i {
					margin-left: 1rem;
				}
			}
		}
	}

	// .offer-container__text
	&__text {
		color: gray;
		font-size: 1.8rem;
	}
}
