.editor > .editor__section:not(._active) {
	position: absolute;
	opacity: 0;
	transform: rotate(360deg) scale(0);
	transition: all 0.5s ease-in-out;
}

.community {
	// .community__icon
	&__icon {
		background: $electric-lime;
		font-size: 2.2rem;
		width: 4.2rem;
		height: 4.2rem;
		border-radius: 50%;
		color: $black-color;
		overflow: hidden;
		transition: all 0.3s ease-in-out;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:hover {
			background: $black-color;
			color: $electric-lime;
		}
	}
}
