.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
	background: transparent;
	display: flex;
	align-items: center;

	&::before {
		z-index: 7;
		opacity: 0;
		content: '';
		position: absolute;
		height: 10rem;
		width: 100%;
		background-size: 111% 200%;
		background-position: 0 0;
		transition: opacity 0.7s ease-in-out;
		animation: fadeOutGradient 0.7s ease-in-out alternate-reverse;
		@extend .gradient-header;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background: linear-gradient(to left top, #8164ff 40%, rgb(42, 53, 20) 70%);
		transition: all 0.7s ease-in-out;
	}

	&.with-border {
		box-shadow: 0px 1px 10px #000;

		&::before {
			animation: fadeInGradient 0.7s ease-in-out forwards;
			opacity: 1;
		}

		&::after {
			z-index: 9;
			width: 100%;
		}
	}

	// .header__container
	&__container {
		width: 100%;
		z-index: 8;
		position: relative;
		@include flex-align-center-justify-space-between;
		height: 10rem;
	}

	// .header__column
	&__column {
		@include flex-align-center;
		@include _768 {
			&:nth-child(3) {
				display: none;
			}
		}
	}

	// .header__text
	&__text {
		flex-direction: column;
		text-transform: uppercase;
		white-space: nowrap;
		@include flex-align-center;
		h1 {
			line-height: 100%;
			font-size: 2.8rem;
			@include _425 {
				font-size: 2.4rem;
			}
		}
		P {
			margin-top: 0.5rem;
			span {
				line-height: 100%;
				font-size: 1.6rem;
				color: gray;
				&:not(:last-child) {
					margin-right: 0.8rem;
				}
				&:nth-child(2) {
					color: $electric-lime;
					font-size: 2.4rem;
					text-transform: none;
				}
			}
		}
	}

	// .header__logo
	&__logo {
		height: 5.3em;
		width: 8.3rem;
		background: url('../img/header/logo.png') center / contain no-repeat;
	}

	// .header__menu
	&__menu {
		user-select: none;
		display: flex;
		transition: all 0.9s ease 0s;
		margin: 0 1.5rem;
	}

	// .header__item
	&__item {
		cursor: pointer;
		position: relative;
		text-shadow: 1px 1px 2px #000;
		opacity: 0;
		transition: color 0.5s ease-in-out;

		&:not(:last-child) {
			margin-right: 2rem;
		}

		&:hover {
			color: $neon-blue;
			text-shadow: 2px 2px 3px #000;
			&::before {
				width: 75%;
			}
			&::after {
				width: 40%;
			}
		}
		&.active {
			color: $neon-blue;
			text-shadow: 2px 2px 3px #000;
			&::before {
				width: 75%;
			}
			&::after {
				width: 40%;
			}
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 1px;
			background-color: $electric-lime;
			transition: width 0.5s ease-in-out;
		}

		&::before {
			right: 0;
			bottom: 0;
		}

		&::after {
			bottom: -3px;
			left: 0;
		}
	}

	// .header__community
	&__community {
		display: flex;
	}

	// .header__ellipsis
	&__ellipsis {
		padding: 2rem;
		display: none;
		margin-left: 3rem;

		display: flex;
		align-items: center;
		@include _min-920 {
			display: none;
		}

		span {
			top: 50%;
			margin-top: -3px;
			position: absolute;
			width: 6px;
			height: 6px;
			line-height: 6px;
			text-align: center;
			background: $electric-lime;
			left: 50%;
			margin-left: -3px;
			border-radius: 50%;
			transition: 0.3s all ease;

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 6px;
				height: 6px;
				line-height: 6px;
				text-align: center;
				background: $electric-lime;
				left: 50%;
				margin-left: -3px;
				border-radius: 50%;
				transition: 0.3s all ease;
			}

			&::before {
				bottom: 100%;
				margin-bottom: 3px;
			}

			&::after {
				top: 100%;
				margin-top: 3px;
			}
		}
		&._active {
			span {
				transform: scale(0.7);
			}
		}
	}
}

@keyframes fadeOutGradient {
	100% {
		background-position: 100% 0;
	}
}
@keyframes fadeInGradient {
	100% {
		background-position: 100% 0;
	}
}
