@import '../core/mixins';
@import '../core/variables';
@import '../core/extend';
.header {
	position: relative;
	width: 100%;
	z-index: 9;
	background: transparent;
	display: flex;
	align-items: center;

	&::before {
		z-index: 7;
		opacity: 0;
		content: '';
		position: absolute;
		height: 10rem;
		width: 100%;
		background-size: 111% 200%;
		background-position: 0 0;
		transition: opacity 0.7s ease-in-out;
		animation: fadeOutGradient 0.7s ease-in-out alternate-reverse;
		@extend .gradient-header;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		transition: all 0.7s ease-in-out;
		@extend .gradient-border-bottom;
	}

	&.with-border {
		box-shadow: 0 1px 10px #000;

		&::before {
			animation: fadeInGradient 0.7s ease-in-out forwards;
			opacity: 1;
		}

		&::after {
			z-index: 9;
			width: 100%;
		}
	}

	// .header__container
	&__container {
		position: relative;
		width: 100%;
		z-index: 8;
		@include flex-align-center-justify-space-between;
		height: 10rem;
	}

	// .header__column
	&__column {
		&:nth-child(1) {
			display: flex;
			align-items: flex-end;
		}

		@include _920 {
			&:nth-child(2) {
				display: none;
			}
		}
		@include flex-align-center;
	}

	// .header__text
	&__text {
		flex-direction: column;
		text-transform: uppercase;
		white-space: nowrap;
		@include flex-align-center;

		span {
			line-height: 100%;
			font-size: 41px;
			font-weight: 100;
			font-family: $font-family-exclude;
			transform: translateY(-7px);
			text-shadow: 0 0 3px #000000;
			opacity: 0.7;
			color: #919191;

			@include _1024 {
				font-size: 4rem;
				transform: translateY(-5px);
			}
		}
	}

	// .header__logo
	&__logo {
		//height: 5.3em;
		width: 8.3rem;
		// background: url('../../img/header/logo.png') center / contain no-repeat;
		opacity: 0.9;
	}

	// .header__menu
	&__menu {
		user-select: none;
		display: flex;
		transition: all 0.9s ease 0s;
		margin: 0 1.5rem;
		text-transform: uppercase;

		align-items: flex-start;
		transform: translateY(7px);

		.icon-home {
			&::before {
				font-size: 22px;
				color: #919191;
			}
		}
	}

	// .header__item
	&__item {
		cursor: pointer;
		position: relative;
		text-shadow: 1px 1px 2px #000;

		&:not(:last-child) {
			margin-right: 2rem;
		}

		&:hover {
			color: $neon-blue;
			text-shadow: 2px 2px 3px #000;

			a {
				opacity: 1;
			}

			.icon-home {
				&::before {
					transition: all 0.4s ease 0s;
					color: $neon-blue;
				}
			}
		}

		&.active {
			color: $neon-blue;
			text-shadow: 2px 2px 3px #000;

			&::before {
				width: 75%;
			}

			.icon-home {
				&::before {
					color: $neon-blue;
				}
			}

			&::after {
				width: 40%;
			}
		}

		&:not(:first-child) {
			opacity: 1;
			@extend .link_underline;
		}
	}

	// .header__community
	&__community {
		display: flex;
	}
}

.el-community {
	// .el-community__phone
	&__phone {
		@include flex-align-center;
	}

	.icon-phone-ringing {
		font-size: 4.2rem;
		color: $electric-lime;
		margin-right: 1rem;
		text-shadow: 1px 1px 3px #000;
		&:hover {
			color: $neon-blue;
		}
	}

	// .el-community__content
	&__content {
		color: #d4d4d4;
		text-shadow: 1px 0 2px #000;
		line-height: 100%;
		@include _425 {
			display: none;
		}
	}

	// .el-community__title
	&__title {
		text-transform: uppercase;
		font-size: 1rem;
	}
	span {
		font-size: 1.2rem;
		color: $neon-blue;
	}
}
@keyframes fadeOutGradient {
	100% {
		background-position: 100% 0;
	}
}
@keyframes fadeInGradient {
	100% {
		background-position: 100% 0;
	}
}
