//- extends ../layouts/app_layout
//- block title
//- 	- var text='Студия зувукозаписи "Gusli" Обнинск' 

//- block main-content 
//- 	.main-content#wrapper 
//- 		._content#content
//- 			div(class="material-parallax parallax")
//- 				div(class="parallax__image")
//- 					img(src="./img/body/parallax_bg.png", alt="parallax-bg")
//- 					//- block equalizer
//- 					//- 	include ../partials/block-equalizer
//- 			block section
//- 				section._slide  
//- 				section._services 
//- 				section._template 
//- 			block footer
//- 				._footer 