.services {
	position: relative;
	// .services__body
	&__body {
	}

	// .services__title
	&__title {
		padding: 4rem 0;
		font-size: 3.6rem;
		text-align: center;
		text-shadow: 0 0 7px #000;
	}

	// .services__content
	&__content {
		gap: 2.5rem;
		@include flex-justify-space-evenly;
	}
}
// html:not(.ie-11):not(.ios) .parallax {
// 	background-attachment: fixed;
// }
.material-parallax {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.parallax {
	background-attachment: fixed;
	background-size: cover;
	object-position: center;

	// position: absolute;
	width: 100vw;
	height: 100vh;

	// .parallax__image
	&__image {
		// position: fixed;
		left: -1px;
		right: -1px;
		bottom: 0;
		opacity: 0.3;
		z-index: 0;
		// position: relative;
		width: 100%;
		img {
			// position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			min-width: 101%;
			min-height: 101%;
			max-width: none;
			object-fit: cover;
			object-position: center;
		}
	}
}

.content-box {
	z-index: 9;
	// .content-box__column

	&__column {
		width: 20%;
		background: #0c0c0d;
		position: relative;
	}

	// .content-box__image
	&__image {
		position: relative;
		width: 100%;
		height: 100%;
		cursor: pointer;
		img {
			width: 100%;
			height: 30rem;
			object-fit: cover;
			object-position: center center;
		}
		svg {
			pointer-events: none;
		}
	}

	// .content-box__svg
	&__svg {
		width: 100%;
		object-fit: cover;
		svg {
			position: absolute;
			right: 0;
			// opacity: 0;
			max-width: 195px;
			path {
				opacity: 0;
				stroke: #ffee00;
			}
		}
	}

	// .content-box__text
	&__text {
		position: absolute;
		left: 0;
		right: 0;
		font-size: 2.4rem;
		text-align: center;
		bottom: 3rem;
		text-shadow: 0 0 7px #000;
	}
}
