@font-face {
  font-family: '#{$icon-font-family}';
  src:
    url('#{$icon-font-path}/#{$icon-font-family}.ttf?9njddx') format('truetype'),
    url('#{$icon-font-path}/#{$icon-font-family}.woff?9njddx') format('woff'),
    url('#{$icon-font-path}/#{$icon-font-family}.svg?9njddx##{$icon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  //* use !important to prevent issues with browser extensions that change fonts
  font-family: '#{$icon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  //* Enable Ligatures
  letter-spacing: 0;
  font-feature-settings: 'liga';
  font-variant-ligatures: discretionary-ligatures;
  //* Better Font Rendering
}

.icon-phone-call {
  &:before {
    content: $icon-phone-call;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-telegram-fly {
  &:before {
    content: $icon-telegram-fly;
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}
.icon-vk-brand {
  &:before {
    content: $icon-vk-brand;
  }
}
.icon-whatsapp1 {
  &:before {
    content: $icon-whatsapp1;
  }
}
.icon-bug {
  &:before {
    content: $icon-bug;
  }
}
.icon-css3 {
  &:before {
    content: $icon-css3;
  }
}
.icon-resistance {
  &:before {
    content: $icon-resistance;
  }
}
.icon-fonticons {
  &:before {
    content: $icon-fonticons;
  }
}
.icon-desktop {
  &:before {
    content: $icon-desktop;
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop;
  }
}
.icon-tablet {
  &:before {
    content: $icon-tablet;
  }
}
.icon-mobile-phone {
  &:before {
    content: $icon-mobile-phone;
  }
}
.icon-bell-slash {
  &:before {
    content: $icon-bell-slash;
  }
}
.icon-bell-slash-o {
  &:before {
    content: $icon-bell-slash-o;
  }
}
.icon-calendar-plus-o {
  &:before {
    content: $icon-calendar-plus-o;
  }
}
.icon-calendar-minus-o {
  &:before {
    content: $icon-calendar-minus-o;
  }
}
.icon-calendar-times-o {
  &:before {
    content: $icon-calendar-times-o;
  }
}
.icon-calendar-check-o {
  &:before {
    content: $icon-calendar-check-o;
  }
}
.icon-optin-monster {
  &:before {
    content: $icon-optin-monster;
  }
}
.icon-e-mail {
  &:before {
    content: $icon-e-mail;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-drivers-license {
  &:before {
    content: $icon-drivers-license;
  }
}
.icon-drivers-license-o {
  &:before {
    content: $icon-drivers-license-o;
  }
}
.icon-list-alt {
  &:before {
    content: $icon-list-alt;
  }
}
.icon-visa {
  &:before {
    content: $icon-visa;
  }
}
.icon-mastercard {
  &:before {
    content: $icon-mastercard;
  }
}
.icon-discover {
  &:before {
    content: $icon-discover;
  }
}
.icon-amex {
  &:before {
    content: $icon-amex;
  }
}
.icon-pay-pal {
  &:before {
    content: $icon-pay-pal;
  }
}
.icon-stripe {
  &:before {
    content: $icon-stripe;
  }
}
.icon-flag-lg {
  &:before {
    content: $icon-flag-lg;
  }
}
.icon-user-o {
  &:before {
    content: $icon-user-o;
  }
}
.icon-sign-out {
  &:before {
    content: $icon-sign-out;
  }
}
.icon-sign-in {
  &:before {
    content: $icon-sign-in;
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download;
  }
}
.icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload;
  }
}
.icon-truck {
  &:before {
    content: $icon-truck;
  }
}
.icon-wrench {
  &:before {
    content: $icon-wrench;
  }
}
.icon-magic {
  &:before {
    content: $icon-magic;
  }
}
.icon-users-tie {
  &:before {
    content: $icon-users-tie;
  }
}
.icon-black-tie {
  &:before {
    content: $icon-black-tie;
  }
}
.icon-thumb-up {
  &:before {
    content: $icon-thumb-up;
  }
}
.icon-thumb-down {
  &:before {
    content: $icon-thumb-down;
  }
}
.icon-hand-grab-o {
  &:before {
    content: $icon-hand-grab-o;
  }
}
.icon-hand-paper-o {
  &:before {
    content: $icon-hand-paper-o;
  }
}
.icon-hand-scissors-o {
  &:before {
    content: $icon-hand-scissors-o;
  }
}
.icon-hand-lizard-o {
  &:before {
    content: $icon-hand-lizard-o;
  }
}
.icon-hand-spock-o {
  &:before {
    content: $icon-hand-spock-o;
  }
}
.icon-hand-pointer-o {
  &:before {
    content: $icon-hand-pointer-o;
  }
}
.icon-hand-peace-o {
  &:before {
    content: $icon-hand-peace-o;
  }
}
.icon-hand-shake {
  &:before {
    content: $icon-hand-shake;
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down;
  }
}
.icon-exchange {
  &:before {
    content: $icon-exchange;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-free-code-camp {
  &:before {
    content: $icon-free-code-camp;
  }
}
.icon-terminal-arw {
  &:before {
    content: $icon-terminal-arw;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-file-pdf-o {
  &:before {
    content: $icon-file-pdf-o;
  }
}
.icon-file-word-o {
  &:before {
    content: $icon-file-word-o;
  }
}
.icon-file-excel-o {
  &:before {
    content: $icon-file-excel-o;
  }
}
.icon-file-powerpoint-o {
  &:before {
    content: $icon-file-powerpoint-o;
  }
}
.icon-file-image-o {
  &:before {
    content: $icon-file-image-o;
  }
}
.icon-file-archive-o {
  &:before {
    content: $icon-file-archive-o;
  }
}
.icon-file-audio-o {
  &:before {
    content: $icon-file-audio-o;
  }
}
.icon-file-movie-o {
  &:before {
    content: $icon-file-movie-o;
  }
}
.icon-file-code-o {
  &:before {
    content: $icon-file-code-o;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-fire-resistance {
  &:before {
    content: $icon-fire-resistance;
  }
}
.icon-cogs-gears {
  &:before {
    content: $icon-cogs-gears;
  }
}
.icon-cogs-gear {
  &:before {
    content: $icon-cogs-gear;
  }
}
.icon-cog-md {
  &:before {
    content: $icon-cog-md;
  }
}
.icon-cog-lg {
  &:before {
    content: $icon-cog-lg;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-star-o {
  &:before {
    content: $icon-star-o;
  }
}
.icon-rub {
  &:before {
    content: $icon-rub;
  }
}
.icon-bookmark-lg {
  &:before {
    content: $icon-bookmark-lg;
  }
}
.icon-bookmark-o {
  &:before {
    content: $icon-bookmark-o;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-folder-open {
  &:before {
    content: $icon-folder-open;
  }
}
.icon-folder-closed {
  &:before {
    content: $icon-folder-closed;
  }
}
.icon-folder-open-o {
  &:before {
    content: $icon-folder-open-o;
  }
}
.icon-folder-closed-o {
  &:before {
    content: $icon-folder-closed-o;
  }
}
.icon-code-fork {
  &:before {
    content: $icon-code-fork;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-toggle-off {
  &:before {
    content: $icon-toggle-off;
  }
}
.icon-toggle-on {
  &:before {
    content: $icon-toggle-on;
  }
}
.icon-copy-files-o {
  &:before {
    content: $icon-copy-files-o;
  }
}
.icon-check-square-o {
  &:before {
    content: $icon-check-square-o;
  }
}
.icon-square-o {
  &:before {
    content: $icon-square-o;
  }
}
.icon-expedited-ssl {
  &:before {
    content: $icon-expedited-ssl;
  }
}
.icon-tasks {
  &:before {
    content: $icon-tasks;
  }
}
.icon-table {
  &:before {
    content: $icon-table;
  }
}
.icon-window-close {
  &:before {
    content: $icon-window-close;
  }
}
.icon-paper-clip {
  &:before {
    content: $icon-paper-clip;
  }
}
.icon-cut {
  &:before {
    content: $icon-cut;
  }
}
.icon-sort-alpha-asc {
  &:before {
    content: $icon-sort-alpha-asc;
  }
}
.icon-sort-alpha-desc {
  &:before {
    content: $icon-sort-alpha-desc;
  }
}
.icon-compress {
  &:before {
    content: $icon-compress;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;
  }
}
.icon-telegram1 {
  &:before {
    content: $icon-telegram1;
  }
}
.icon-currency-dollar {
  &:before {
    content: $icon-currency-dollar;
  }
}
.icon-coin-dollar {
  &:before {
    content: $icon-coin-dollar;
  }
}
.icon-git-hub-square {
  &:before {
    content: $icon-git-hub-square;
  }
}
.icon-google-plus-sq {
  &:before {
    content: $icon-google-plus-sq;
  }
}
.icon-google-plus-circle {
  &:before {
    content: $icon-google-plus-circle;
  }
}
.icon-google-drive {
  &:before {
    content: $icon-google-drive;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-git-hub-circle {
  &:before {
    content: $icon-git-hub-circle;
  }
}
.icon-fire-flame {
  &:before {
    content: $icon-fire-flame;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-instagram-square {
  &:before {
    content: $icon-instagram-square;
  }
}
.icon-wikipedia1 {
  &:before {
    content: $icon-wikipedia1;
  }
}
.icon-youtube-lg {
  &:before {
    content: $icon-youtube-lg;
  }
}
.icon-jet-brains {
  &:before {
    content: $icon-jet-brains;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-safari1 {
  &:before {
    content: $icon-safari1;
  }
}
.icon-google-circle {
  &:before {
    content: $icon-google-circle;
  }
}
.icon-google-squard {
  &:before {
    content: $icon-google-squard;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}
.icon-git-hub {
  &:before {
    content: $icon-git-hub;
  }
}
.icon-wikipedia {
  &:before {
    content: $icon-wikipedia;
  }
}
.icon-hackernews {
  &:before {
    content: $icon-hackernews;
  }
}
.icon-reddit {
  &:before {
    content: $icon-reddit;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-soundcloud-square {
  &:before {
    content: $icon-soundcloud-square;
  }
}
.icon-sound-cloud {
  &:before {
    content: $icon-sound-cloud;
  }
}
.icon-windows {
  &:before {
    content: $icon-windows;
  }
}
.icon-android {
  &:before {
    content: $icon-android;
  }
}
.icon-finder {
  &:before {
    content: $icon-finder;
  }
}
.icon-appleinc {
  &:before {
    content: $icon-appleinc;
  }
}
.icon-tux {
  &:before {
    content: $icon-tux;
  }
}
.icon-yahoo {
  &:before {
    content: $icon-yahoo;
  }
}
.icon-yahoo-o {
  &:before {
    content: $icon-yahoo-o;
  }
}
.icon-tumb-tlr {
  &:before {
    content: $icon-tumb-tlr;
  }
}
.icon-tumb-lr {
  &:before {
    content: $icon-tumb-lr;
  }
}
.icon-opera {
  &:before {
    content: $icon-opera;
  }
}
.icon-safari {
  &:before {
    content: $icon-safari;
  }
}
.icon-edge {
  &:before {
    content: $icon-edge;
  }
}
.icon-ie {
  &:before {
    content: $icon-ie;
  }
}
.icon-firefox {
  &:before {
    content: $icon-firefox;
  }
}
.icon-chrome {
  &:before {
    content: $icon-chrome;
  }
}
.icon-paypal {
  &:before {
    content: $icon-paypal;
  }
}
.icon-npm {
  &:before {
    content: $icon-npm;
  }
}
.icon-onedrive {
  &:before {
    content: $icon-onedrive;
  }
}
.icon-dropbox {
  &:before {
    content: $icon-dropbox;
  }
}
.icon-steam {
  &:before {
    content: $icon-steam;
  }
}
.icon-steam-o {
  &:before {
    content: $icon-steam-o;
  }
}
.icon-spinner-loading-11 {
  &:before {
    content: $icon-spinner-loading-11;
  }
}
.icon-spinner-loading {
  &:before {
    content: $icon-spinner-loading;
  }
}
.icon-spinner-loading-2 {
  &:before {
    content: $icon-spinner-loading-2;
  }
}
.icon-spinner-loading-3 {
  &:before {
    content: $icon-spinner-loading-3;
  }
}
.icon-spinner-loading-4 {
  &:before {
    content: $icon-spinner-loading-4;
  }
}
.icon-spinner-loading-6 {
  &:before {
    content: $icon-spinner-loading-6;
  }
}
.icon-spinner-loading-7 {
  &:before {
    content: $icon-spinner-loading-7;
  }
}
.icon-spinner-loading-8 {
  &:before {
    content: $icon-spinner-loading-8;
  }
}
.icon-spinner-loading-9 {
  &:before {
    content: $icon-spinner-loading-9;
  }
}
.icon-spinner-loading-10 {
  &:before {
    content: $icon-spinner-loading-10;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-mail-contact {
  &:before {
    content: $icon-mail-contact;
  }
}
.icon-mail-circle {
  &:before {
    content: $icon-mail-circle;
  }
}
.icon-whatsapp2 {
  &:before {
    content: $icon-whatsapp2;
  }
}
.icon-heart-like {
  &:before {
    content: $icon-heart-like;
  }
}
.icon-heart-broken {
  &:before {
    content: $icon-heart-broken;
  }
}
.icon-phon {
  &:before {
    content: $icon-phon;
  }
}
.icon-phon-call {
  &:before {
    content: $icon-phon-call;
  }
}
.icon-cart-purchase {
  &:before {
    content: $icon-cart-purchase;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-bin-black {
  &:before {
    content: $icon-bin-black;
  }
}
.icon-bin-trashcan {
  &:before {
    content: $icon-bin-trashcan;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-cart-circle {
  &:before {
    content: $icon-cart-circle;
  }
}
.icon-login {
  &:before {
    content: $icon-login;
  }
}
.icon-consultancy {
  &:before {
    content: $icon-consultancy;
  }
}
.icon-consulting {
  &:before {
    content: $icon-consulting;
  }
}
.icon-sphere-globe {
  &:before {
    content: $icon-sphere-globe;
  }
}
.icon-share-social {
  &:before {
    content: $icon-share-social;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-bird-house {
  &:before {
    content: $icon-bird-house;
  }
}
.icon-home-dark {
  &:before {
    content: $icon-home-dark;
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.icon-flag {
  &:before {
    content: $icon-flag;
  }
}
.icon-rss {
  &:before {
    content: $icon-rss;
  }
}
.icon-rss-sq {
  &:before {
    content: $icon-rss-sq;
  }
}
.icon-bubble-comment {
  &:before {
    content: $icon-bubble-comment;
  }
}
.icon-bubbles-comments-t {
  &:before {
    content: $icon-bubbles-comments-t;
  }
}
.icon-bubbles-comments-f {
  &:before {
    content: $icon-bubbles-comments-f;
  }
}
.icon-bubble-comment-l {
  &:before {
    content: $icon-bubble-comment-l;
  }
}
.icon-bubbles-comments-lb {
  &:before {
    content: $icon-bubbles-comments-lb;
  }
}
.icon-bubbles-comments-lbf {
  &:before {
    content: $icon-bubbles-comments-lbf;
  }
}
.icon-man {
  &:before {
    content: $icon-man;
  }
}
.icon-woman {
  &:before {
    content: $icon-woman;
  }
}
.icon-man-woman {
  &:before {
    content: $icon-man-woman;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-user-profile {
  &:before {
    content: $icon-user-profile;
  }
}
.icon-users-group {
  &:before {
    content: $icon-users-group;
  }
}
.icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}
.icon-community {
  &:before {
    content: $icon-community;
  }
}
.icon-user-minus {
  &:before {
    content: $icon-user-minus;
  }
}
.icon-user-check {
  &:before {
    content: $icon-user-check;
  }
}
.icon-user-tie {
  &:before {
    content: $icon-user-tie;
  }
}
.icon-point-up {
  &:before {
    content: $icon-point-up;
  }
}
.icon-point-right {
  &:before {
    content: $icon-point-right;
  }
}
.icon-point-down {
  &:before {
    content: $icon-point-down;
  }
}
.icon-point-left {
  &:before {
    content: $icon-point-left;
  }
}
.icon-question-help {
  &:before {
    content: $icon-question-help;
  }
}
.icon-cancel-circle {
  &:before {
    content: $icon-cancel-circle;
  }
}
.icon-blocked {
  &:before {
    content: $icon-blocked;
  }
}
.icon-circle-left {
  &:before {
    content: $icon-circle-left;
  }
}
.icon-circle-right {
  &:before {
    content: $icon-circle-right;
  }
}
.icon-circle-down {
  &:before {
    content: $icon-circle-down;
  }
}
.icon-circle-up {
  &:before {
    content: $icon-circle-up;
  }
}
.icon-expand-collapse {
  &:before {
    content: $icon-expand-collapse;
  }
}
.icon-shrink-collapse {
  &:before {
    content: $icon-shrink-collapse;
  }
}
.icon-arrow-up-left {
  &:before {
    content: $icon-arrow-up-left;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-up-right {
  &:before {
    content: $icon-arrow-up-right;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-down-right {
  &:before {
    content: $icon-arrow-down-right;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-down-left {
  &:before {
    content: $icon-arrow-down-left;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-undo-prew {
  &:before {
    content: $icon-undo-prew;
  }
}
.icon-redo-next {
  &:before {
    content: $icon-redo-next;
  }
}
.icon-forward-left {
  &:before {
    content: $icon-forward-left;
  }
}
.icon-forward-righ {
  &:before {
    content: $icon-forward-righ;
  }
}
.icon-angle-double-down {
  &:before {
    content: $icon-angle-double-down;
  }
}
.icon-angle-double-up {
  &:before {
    content: $icon-angle-double-up;
  }
}
.icon-angle-double-right {
  &:before {
    content: $icon-angle-double-right;
  }
}
.icon-angle-double-left {
  &:before {
    content: $icon-angle-double-left;
  }
}
.icon-angles-left-solid {
  &:before {
    content: $icon-angles-left-solid;
  }
}
.icon-angles-right-solid {
  &:before {
    content: $icon-angles-right-solid;
  }
}
.icon-angles-up-solid {
  &:before {
    content: $icon-angles-up-solid;
  }
}
.icon-angles-down-solid {
  &:before {
    content: $icon-angles-down-solid;
  }
}
.icon-terminal {
  &:before {
    content: $icon-terminal;
  }
}
.icon-libreoffice {
  &:before {
    content: $icon-libreoffice;
  }
}
.icon-books-library {
  &:before {
    content: $icon-books-library;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-download-save {
  &:before {
    content: $icon-download-save;
  }
}
.icon-up-load {
  &:before {
    content: $icon-up-load;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-bookmarks {
  &:before {
    content: $icon-bookmarks;
  }
}
.icon-tags-black {
  &:before {
    content: $icon-tags-black;
  }
}
.icon-tags {
  &:before {
    content: $icon-tags;
  }
}
.icon-price-tag {
  &:before {
    content: $icon-price-tag;
  }
}
.icon-price-tags {
  &:before {
    content: $icon-price-tags;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-pictures {
  &:before {
    content: $icon-pictures;
  }
}
.icon-folder-download {
  &:before {
    content: $icon-folder-download;
  }
}
.icon-folder-upload {
  &:before {
    content: $icon-folder-upload;
  }
}
.icon-folder-open-directory {
  &:before {
    content: $icon-folder-open-directory;
  }
}
.icon-folder-directory {
  &:before {
    content: $icon-folder-directory;
  }
}
.icon-folder-plus {
  &:before {
    content: $icon-folder-plus;
  }
}
.icon-folder-minus {
  &:before {
    content: $icon-folder-minus;
  }
}
.icon-enter-signin {
  &:before {
    content: $icon-enter-signin;
  }
}
.icon-exit-signout {
  &:before {
    content: $icon-exit-signout;
  }
}
.icon-file-word {
  &:before {
    content: $icon-file-word;
  }
}
.icon-file-excel {
  &:before {
    content: $icon-file-excel;
  }
}
.icon-html-five-o {
  &:before {
    content: $icon-html-five-o;
  }
}
.icon-html-five {
  &:before {
    content: $icon-html-five;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-notification {
  &:before {
    content: $icon-notification;
  }
}
.icon-information {
  &:before {
    content: $icon-information;
  }
}
.icon-droplet {
  &:before {
    content: $icon-droplet;
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in;
  }
}
.icon-contrast {
  &:before {
    content: $icon-contrast;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard;
  }
}
.icon-compare {
  &:before {
    content: $icon-compare;
  }
}
.icon-check-box {
  &:before {
    content: $icon-check-box;
  }
}
.icon-link-chain {
  &:before {
    content: $icon-link-chain;
  }
}
.icon-lock-secure {
  &:before {
    content: $icon-lock-secure;
  }
}
.icon-unlocked {
  &:before {
    content: $icon-unlocked;
  }
}
.icon-power-cord {
  &:before {
    content: $icon-power-cord;
  }
}
.icon-tree-branches {
  &:before {
    content: $icon-tree-branches;
  }
}
.icon-cross-middle {
  &:before {
    content: $icon-cross-middle;
  }
}
.icon-arrow-select {
  &:before {
    content: $icon-arrow-select;
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;
  }
}
.icon-list-number {
  &:before {
    content: $icon-list-number;
  }
}
.icon-list-bullet {
  &:before {
    content: $icon-list-bullet;
  }
}
.icon-list-todo {
  &:before {
    content: $icon-list-todo;
  }
}
.icon-amazon {
  &:before {
    content: $icon-amazon;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}
.icon-check-mark-d {
  &:before {
    content: $icon-check-mark-d;
  }
}
.icon-check-mark {
  &:before {
    content: $icon-check-mark;
  }
}
.icon-spell-check {
  &:before {
    content: $icon-spell-check;
  }
}
.icon-quotes-left {
  &:before {
    content: $icon-quotes-left;
  }
}
.icon-quotes-right {
  &:before {
    content: $icon-quotes-right;
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}
.icon-en-large {
  &:before {
    content: $icon-en-large;
  }
}
.icon-en-small {
  &:before {
    content: $icon-en-small;
  }
}
.icon-paragraph-left {
  &:before {
    content: $icon-paragraph-left;
  }
}
.icon-paragraph-center {
  &:before {
    content: $icon-paragraph-center;
  }
}
.icon-paragraph-right {
  &:before {
    content: $icon-paragraph-right;
  }
}
.icon-paragraph-justify {
  &:before {
    content: $icon-paragraph-justify;
  }
}
.icon-indent-increase {
  &:before {
    content: $icon-indent-increase;
  }
}
.icon-indent-decrease {
  &:before {
    content: $icon-indent-decrease;
  }
}
.icon-dzen {
  &:before {
    content: $icon-dzen;
  }
}
.icon-instagram-squard {
  &:before {
    content: $icon-instagram-squard;
  }
}
.icon-pug {
  &:before {
    content: $icon-pug;
  }
}
.icon-gulp {
  &:before {
    content: $icon-gulp;
  }
}
.icon-javas-cript {
  &:before {
    content: $icon-javas-cript;
  }
}
.icon-java {
  &:before {
    content: $icon-java;
  }
}
.icon-vue-dot-js {
  &:before {
    content: $icon-vue-dot-js;
  }
}
.icon-node-js {
  &:before {
    content: $icon-node-js;
  }
}
.icon-react {
  &:before {
    content: $icon-react;
  }
}
.icon-money-bag {
  &:before {
    content: $icon-money-bag;
  }
}
.icon-document-file-java {
  &:before {
    content: $icon-document-file-java;
  }
}
.icon-document-java {
  &:before {
    content: $icon-document-java;
  }
}
.icon-file-java {
  &:before {
    content: $icon-file-java;
  }
}
.icon-file-java-o {
  &:before {
    content: $icon-file-java-o;
  }
}
.icon-instagram-circle {
  &:before {
    content: $icon-instagram-circle;
  }
}
.icon-dollar-money {
  &:before {
    content: $icon-dollar-money;
  }
}
.icon-dollars {
  &:before {
    content: $icon-dollars;
  }
}
.icon-recycle {
  &:before {
    content: $icon-recycle;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-enve-mail {
  &:before {
    content: $icon-enve-mail;
  }
}
.icon-location-restroom {
  &:before {
    content: $icon-location-restroom;
  }
}
.icon-arrow-outline-down {
  &:before {
    content: $icon-arrow-outline-down;
  }
}
.icon-arrow-outline-left {
  &:before {
    content: $icon-arrow-outline-left;
  }
}
.icon-arrow-outline-right {
  &:before {
    content: $icon-arrow-outline-right;
  }
}
.icon-arrow-outline-up {
  &:before {
    content: $icon-arrow-outline-up;
  }
}
.icon-arrow-down-o {
  &:before {
    content: $icon-arrow-down-o;
  }
}
.icon-arrow-leftc-o {
  &:before {
    content: $icon-arrow-leftc-o;
  }
}
.icon-arrow-thin-right {
  &:before {
    content: $icon-arrow-thin-right;
  }
}
.icon-arrow-up-o {
  &:before {
    content: $icon-arrow-up-o;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-reload {
  &:before {
    content: $icon-reload;
  }
}
.icon-reply {
  &:before {
    content: $icon-reply;
  }
}
.icon-reply-all {
  &:before {
    content: $icon-reply-all;
  }
}
.icon-subdirectory-left {
  &:before {
    content: $icon-subdirectory-left;
  }
}
.icon-subdirectory-right {
  &:before {
    content: $icon-subdirectory-right;
  }
}
.icon-location-current {
  &:before {
    content: $icon-location-current;
  }
}
.icon-pin {
  &:before {
    content: $icon-pin;
  }
}
.icon-color-palette {
  &:before {
    content: $icon-color-palette;
  }
}
.icon-badge {
  &:before {
    content: $icon-badge;
  }
}
.icon-battery-full {
  &:before {
    content: $icon-battery-full;
  }
}
.icon-battery-half {
  &:before {
    content: $icon-battery-half;
  }
}
.icon-battery-low {
  &:before {
    content: $icon-battery-low;
  }
}
.icon-save-disk {
  &:before {
    content: $icon-save-disk;
  }
}
.icon-anchor {
  &:before {
    content: $icon-anchor;
  }
}
.icon-zoom-in-o {
  &:before {
    content: $icon-zoom-in-o;
  }
}
.icon-announcement {
  &:before {
    content: $icon-announcement;
  }
}
.icon-view-hide {
  &:before {
    content: $icon-view-hide;
  }
}
.icon-view-show {
  &:before {
    content: $icon-view-show;
  }
}
.icon-zoom-out-o {
  &:before {
    content: $icon-zoom-out-o;
  }
}
.icon-edit-crop {
  &:before {
    content: $icon-edit-crop;
  }
}
.icon-edit-cut {
  &:before {
    content: $icon-edit-cut;
  }
}
