@mixin font-face($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src:
			url('#{$font-path}/#{$file_name}.eot') format('eot'),
			url('#{$font-path}/#{$file_name}.woff') format('woff'),
			url('#{$font-path}/#{$file_name}.woff2') format('woff2'),
			url('#{$font-path}/#{$file_name}.ttf') format('truetype');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@mixin flex-align-center {
	display: flex;
	align-items: center;
}

@mixin flex-align-end {
	display: flex;
	align-items: end;
}

@mixin flex-justify-center {
	display: flex;
	justify-content: center;
}

@mixin flex-align-center-justify-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@mixin flex-align-center-justify-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@mixin flex-justify-space-between {
	display: flex;
	justify-content: space-between;
}

@mixin flex-justify-space-evenly {
	display: flex;
	justify-content: space-evenly;
}

@mixin flex-align-center-justify-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-align-center-justify-space-evenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@mixin flex-align-center-justify-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
// -----------------------------------------------------------------------------
@mixin _screen-960 {
	@media screen and (max-width: 960px) {
		@content;
	}
}
@mixin _screen-690 {
	@media screen and (max-width: 690px) {
		@content;
	}
}

@mixin _screen-490 {
	@media screen and (max-width: 490px) {
		@content;
	}
}

@mixin _screen-920 {
	@media screen and (max-width: 920px) {
		@content;
	}
}
@mixin _screen-1140 {
	@media (max-width: 1140px) {
		@content;
	}
}
// -----------------------------------------------------------------------------
@mixin _min-1140 {
	@media (min-width: 1140.99px) {
		@content;
	}
}

@mixin _min-1024 {
	@media (min-width: 1024.99px) {
		@content;
	}
}

@mixin _min-920 {
	@media (min-width: 920.89px) {
		@content;
	}
}

@mixin _min-768 {
	@media (min-width: 768.98px) {
		@content;
	}
}

@mixin _min-690 {
	@media (min-width: 690.98px) {
		@content;
	}
}

@mixin _min-490 {
	@media (min-width: 490.99px) {
		@content;
	}
}

@mixin _min-375 {
	@media (min-width: 375.99px) {
		@content;
	}
}

@mixin _min-320 {
	@media (min-width: 320.99px) {
		@content;
	}
}
// -----------------------------------------------------------------------------
@mixin _1024 {
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin _920 {
	@media (max-width: 920px) {
		@content;
	}
}

@mixin _768 {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin _690 {
	@media (max-width: 690px) {
		@content;
	}
}

@mixin _490 {
	@media (max-width: 490px) {
		@content;
	}
}

@mixin _425 {
	@media (max-width: 425px) {
		@content;
	}
}

@mixin _375 {
	@media (max-width: 375px) {
		@content;
	}
}

@mixin _320 {
	@media (max-width: 320px) {
		@content;
	}
}
// -----------------------------------------------------------------------------
@mixin _920-1170 {
	@media (min-width: 920.98px) and (max-width: 1170px) {
		@content;
	}
}

@mixin _1024-1140 {
	@media (min-width: 1024px) and (max-width: 1140px) {
		@content;
	}
}

@mixin _690-1140 {
	@media (min-width: 690.99px) and (max-width: 1140px) {
		@content;
	}
}

@mixin _920-1024 {
	@media (min-width: 920.99px) and (max-width: 1024px) {
		@content;
	}
}

@mixin _490-1024 {
	@media (min-width: 490.99px) and (max-width: 1024px) {
		@content;
	}
}

@mixin _768-920 {
	@media (min-width: 768.98px) and (max-width: 920px) {
		@content;
	}
}

@mixin _690-920 {
	@media (min-width: 690.98px) and (max-width: 920px) {
		@content;
	}
}

@mixin _490-920 {
	@media (min-width: 490.99px) and (max-width: 920px) {
		@content;
	}
}

@mixin _375-920 {
	@media (min-width: 375.98px) and (max-width: 920px) {
		@content;
	}
}

@mixin _320-920 {
	@media (min-width: 320.99px) and (max-width: 920px) {
		@content;
	}
}

@mixin _690-768 {
	@media (min-width: 690.99px) and (max-width: 768px) {
		@content;
	}
}

@mixin _490-690 {
	@media (min-width: 490.99px) and (max-width: 690px) {
		@content;
	}
}

@mixin _375-690 {
	@media (min-width: 375.98px) and (max-width: 690px) {
		@content;
	}
}

@mixin _375-490 {
	@media (min-width: 376px) and (max-width: 490px) {
		@content;
	}
}

@mixin _320-690 {
	@media (min-width: 330.98px) and (max-width: 690px) {
		@content;
	}
}
