@mixin font-face($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src:
			url('#{$font-path}/#{$file_name}.eot') format('eot'),
			url('#{$font-path}/#{$file_name}.woff') format('woff'),
			url('#{$font-path}/#{$file_name}.woff2') format('woff2'),
			url('#{$font-path}/#{$file_name}.ttf') format('truetype');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//* ----------------------------------------------------------------------------
@mixin screen-1920 {
	@media screen and (max-width: 1920px) {
		@content;
	}
}

@mixin screen-1440 {
	@media screen and (max-width: 1440px) {
		@content;
	}
}

@mixin screen-1140 {
	@media screen and (max-width: 1140px) {
		@content;
	}
}

@mixin screen-1024 {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin screen-960 {
	@media screen and (max-width: 960px) {
		@content;
	}
}

@mixin screen-920 {
	@media screen and (max-width: 920px) {
		@content;
	}
}

@mixin screen-768 {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin screen-690 {
	@media screen and (max-width: 690px) {
		@content;
	}
}

@mixin screen-490 {
	@media screen and (max-width: 490px) {
		@content;
	}
}

@mixin screen-425 {
	@media screen and (max-width: 425px) {
		@content;
	}
}

@mixin screen-375 {
	@media screen and (max-width: 375px) {
		@content;
	}
}

@mixin screen-320 {
	@media screen and (max-width: 320px) {
		@content;
	}
}
//* ----------------------------------------------------------------------------
@mixin min-1140 {
	@media (min-width: 1140.99px) {
		@content;
	}
}

@mixin min-1024 {
	@media (min-width: 1024.99px) {
		@content;
	}
}

@mixin min-920 {
	@media (min-width: 920.99px) {
		@content;
	}
}

@mixin min-768 {
	@media (min-width: 768.98px) {
		@content;
	}
}

@mixin min-690 {
	@media (min-width: 690.98px) {
		@content;
	}
}

@mixin min-490 {
	@media (min-width: 490.99px) {
		@content;
	}
}
@mixin min-425 {
	@media (min-width: 425.99px) {
		@content;
	}
}
@mixin min-375 {
	@media (min-width: 375.99px) {
		@content;
	}
}

@mixin min-320 {
	@media (min-width: 320.99px) {
		@content;
	}
}

//* ----------------------------------------------------------------------------
@mixin minmax-1440-1920 {
	@media (min-width: 1440.98px) and (max-width: 1920px) {
		@content;
	}
}

@mixin minmax-490-1920 {
	@media (min-width: 490.98px) and (max-width: 1920px) {
		@content;
	}
}

@mixin minmax-920-1170 {
	@media (min-width: 920.98px) and (max-width: 1170px) {
		@content;
	}
}

@mixin minmax-1024-1140 {
	@media (min-width: 1024px) and (max-width: 1140px) {
		@content;
	}
}

@mixin minmax-690-1140 {
	@media (min-width: 690.99px) and (max-width: 1140px) {
		@content;
	}
}

@mixin minmax-920-1024 {
	@media (min-width: 920.99px) and (max-width: 1024px) {
		@content;
	}
}

@mixin minmax-490-1024 {
	@media (min-width: 490.99px) and (max-width: 1024px) {
		@content;
	}
}

@mixin minmax-768-920 {
	@media (min-width: 768.98px) and (max-width: 920px) {
		@content;
	}
}

@mixin minmax-690-920 {
	@media (min-width: 690.98px) and (max-width: 920px) {
		@content;
	}
}

@mixin minmax-490-920 {
	@media (min-width: 490.99px) and (max-width: 920px) {
		@content;
	}
}

@mixin minmax-375-920 {
	@media (min-width: 375.98px) and (max-width: 920px) {
		@content;
	}
}

@mixin minmax-320-920 {
	@media (min-width: 320.99px) and (max-width: 920px) {
		@content;
	}
}

@mixin minmax-690-768 {
	@media (min-width: 690.99px) and (max-width: 768px) {
		@content;
	}
}

@mixin minmax-490-690 {
	@media (min-width: 490.99px) and (max-width: 690px) {
		@content;
	}
}

@mixin minmax-375-690 {
	@media (min-width: 375.98px) and (max-width: 690px) {
		@content;
	}
}

@mixin minmax-375-490 {
	@media (min-width: 376px) and (max-width: 490px) {
		@content;
	}
}

@mixin minmax-425-490 {
	@media (min-width: 425.98px) and (max-width: 490px) {
		@content;
	}
}

@mixin minmax-320-690 {
	@media (min-width: 330.98px) and (max-width: 690px) {
		@content;
	}
}
//* ----------------------------------------------------------------------------
