html {
	font: {
		style: normal;
		size: 62.5%;
		weight: $font-weight-defoult;
		family: $font-defoult;
	}
	height: 100%;
	// overflow-x: hidden;
	counter-reset: heading;
	color: var(--font-body-color);
	// @extend .gradient;

	letter-spacing: 1.7px;
	// user-select: none;

	@include _1024 {
		font-size: 50%;
	}
}

body {
	// position: relative;
	overscroll-behavior: none;
	font:
		1.6rem/1.6 Roboto,
		sans-serif;
	@include _1024 {
		font:
			1.8rem/1.6 Roboto,
			sans-serif;
	}

	@include _320 {
		font:
			1rem/1.6 Roboto,
			sans-serif;
	}
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
	box-sizing: border-box;
	scrollbar-width: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

a:visited {
	vertical-align: middle;
	text-emphasis-style: none;
}

input,
button,
textarea {
	border: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

// input::-ms-clear {
// 	display: none;
// }

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

a:focus,
a:active,
input:focus,
textarea:focus {
	outline: none;
}

ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: {
		weight: inherit;
		style: inherit;
	}
}

//  * Изменить стиль выделения текста
::selection {
	color: $text-color-selection;
	background-color: $text-selection;
	text-shadow: 0 1px 0 #000;
}

::-moz-selection {
	color: $text-color-selection;
	background-color: $text-selection;
	text-shadow: 0 1px 0 #000;
}

// * Изменить стиль полосы прокрутки (scrollbar)
::-webkit-scrollbar {
	width: 0.5rem;
	padding: 0.031em;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-thumb-bgcolor);
	// background: transparent;
}

::-webkit-scrollbar-thumb {
	border: 1px solid var(--border-color);
	border-radius: 2px;
	background-color: var(--themes-color);
	background-image: -webkit-linear-gradient(
		45deg,
		var(--background-thumb) 25%,
		transparent 25%,
		transparent 50%,
		var(--background-thumb) 50%,
		var(--background-thumb) 75%,
		transparent 75%,
		transparent
	);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--background-thumb);
	background-image: -webkit-linear-gradient(
		45deg,
		var(--themes-color) 25%,
		transparent 25%,
		transparent 50%,
		var(--themes-color) 50%,
		var(--themes-color) 75%,
		transparent 75%,
		transparent
	);
}
