$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-reviews: unquote('"\\e900"');
$icon-contacts: unquote('"\\e901"');
$icon-achievements: unquote('"\\e902"');
$icon-services: unquote('"\\e903"');
$icon-head-phones: unquote('"\\e913"');
$icon-youtube: unquote('"\\ea9d"');
$icon-hand-shake: unquote('"\\f2b6"');
$icon-phone-call: unquote('"\\e914"');
$icon-volume-control-phone: unquote('"\\f2a0"');
$icon-music: unquote('"\\f001"');
$icon-fast-forward: unquote('"\\f050"');
$icon-youtube-logo: unquote('"\\f167"');
$icon-whatsapp: unquote('"\\f232"');
$icon-vk-brand: unquote('"\\f189"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-location: unquote('"\\e924"');
$icon-enve-mail: unquote('"\\e925"');
$icon-microphone: unquote('"\\e905"');
$icon-record-voice: unquote('"\\e906"');
