$icon-font-family: 'icons-set' !default;
$icon-font-path: '../fonts' !default;

$icon-phone-call: unquote('"\\e913"');
$icon-whatsapp: unquote('"\\f232"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-telegram: unquote('"\\f2c6"');
$icon-vk-brand: unquote('"\\f189"');
$icon-whatsapp1: unquote('"\\f233"');
$icon-bug: unquote('"\\f188"');
$icon-css3: unquote('"\\e900"');
$icon-resistance: unquote('"\\e904"');
$icon-fonticons: unquote('"\\f280"');
$icon-desktop: unquote('"\\f108"');
$icon-laptop: unquote('"\\f109"');
$icon-tablet: unquote('"\\f10a"');
$icon-mobile-phone: unquote('"\\f10b"');
$icon-bell-slash: unquote('"\\f1f6"');
$icon-bell-slash-o: unquote('"\\f1f7"');
$icon-calendar-plus-o: unquote('"\\f271"');
$icon-calendar-minus-o: unquote('"\\f272"');
$icon-calendar-times-o: unquote('"\\f273"');
$icon-calendar-check-o: unquote('"\\f274"');
$icon-optin-monster: unquote('"\\f23c"');
$icon-e-mail: unquote('"\\f003"');
$icon-phone: unquote('"\\f095"');
$icon-globe: unquote('"\\e903"');
$icon-drivers-license: unquote('"\\f2c2"');
$icon-drivers-license-o: unquote('"\\f2c3"');
$icon-list-alt: unquote('"\\f022"');
$icon-visa: unquote('"\\f1f0"');
$icon-mastercard: unquote('"\\f1f1"');
$icon-discover: unquote('"\\f1f2"');
$icon-amex: unquote('"\\f1f3"');
$icon-pay-pal: unquote('"\\f1f4"');
$icon-stripe: unquote('"\\f1f5"');
$icon-flag-lg: unquote('"\\f024"');
$icon-user-o: unquote('"\\e911"');
$icon-sign-out: unquote('"\\e916"');
$icon-sign-in: unquote('"\\e917"');
$icon-cloud-download: unquote('"\\f0ed"');
$icon-cloud-upload: unquote('"\\f0ee"');
$icon-truck: unquote('"\\f0d1"');
$icon-wrench: unquote('"\\f0ad"');
$icon-magic: unquote('"\\f0d0"');
$icon-users-tie: unquote('"\\e90f"');
$icon-black-tie: unquote('"\\f27e"');
$icon-thumb-up: unquote('"\\f164"');
$icon-thumb-down: unquote('"\\f165"');
$icon-hand-grab-o: unquote('"\\f255"');
$icon-hand-paper-o: unquote('"\\f256"');
$icon-hand-scissors-o: unquote('"\\f257"');
$icon-hand-lizard-o: unquote('"\\f258"');
$icon-hand-spock-o: unquote('"\\f259"');
$icon-hand-pointer-o: unquote('"\\f25a"');
$icon-hand-peace-o: unquote('"\\f25b"');
$icon-hand-shake: unquote('"\\f2b5"');
$icon-thumbs-up: unquote('"\\f087"');
$icon-thumbs-down: unquote('"\\f088"');
$icon-exchange: unquote('"\\f0ec"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-angle-up: unquote('"\\f106"');
$icon-angle-down: unquote('"\\f107"');
$icon-free-code-camp: unquote('"\\f2c5"');
$icon-terminal-arw: unquote('"\\f120"');
$icon-code: unquote('"\\f121"');
$icon-file-pdf-o: unquote('"\\f1c1"');
$icon-file-word-o: unquote('"\\f1c2"');
$icon-file-excel-o: unquote('"\\f1c3"');
$icon-file-powerpoint-o: unquote('"\\f1c4"');
$icon-file-image-o: unquote('"\\f1c5"');
$icon-file-archive-o: unquote('"\\f1c6"');
$icon-file-audio-o: unquote('"\\f1c7"');
$icon-file-movie-o: unquote('"\\f1c8"');
$icon-file-code-o: unquote('"\\f1c9"');
$icon-book: unquote('"\\f02d"');
$icon-fire-resistance: unquote('"\\e909"');
$icon-cogs-gears: unquote('"\\e995"');
$icon-cogs-gear: unquote('"\\f085"');
$icon-cog-md: unquote('"\\f013"');
$icon-cog-lg: unquote('"\\e994"');
$icon-star: unquote('"\\f005"');
$icon-star-o: unquote('"\\f006"');
$icon-rub: unquote('"\\f159"');
$icon-bookmark-lg: unquote('"\\f02e"');
$icon-bookmark-o: unquote('"\\f097"');
$icon-file: unquote('"\\e914"');
$icon-file-text: unquote('"\\e915"');
$icon-folder-open: unquote('"\\f07c"');
$icon-folder-closed: unquote('"\\f07b"');
$icon-folder-open-o: unquote('"\\f117"');
$icon-folder-closed-o: unquote('"\\f116"');
$icon-code-fork: unquote('"\\f126"');
$icon-print: unquote('"\\f02f"');
$icon-save: unquote('"\\f0c7"');
$icon-toggle-off: unquote('"\\f204"');
$icon-toggle-on: unquote('"\\f205"');
$icon-copy-files-o: unquote('"\\f0c5"');
$icon-check-square-o: unquote('"\\f046"');
$icon-square-o: unquote('"\\f096"');
$icon-expedited-ssl: unquote('"\\f23e"');
$icon-tasks: unquote('"\\f0ae"');
$icon-table: unquote('"\\f0ce"');
$icon-window-close: unquote('"\\f2d3"');
$icon-paper-clip: unquote('"\\f0c6"');
$icon-cut: unquote('"\\f0c4"');
$icon-sort-alpha-asc: unquote('"\\f15d"');
$icon-sort-alpha-desc: unquote('"\\f15e"');
$icon-compress: unquote('"\\f066"');
$icon-vk: unquote('"\\ea98"');
$icon-telegram1: unquote('"\\ea95"');
$icon-currency-dollar: unquote('"\\e918"');
$icon-coin-dollar: unquote('"\\e940"');
$icon-git-hub-square: unquote('"\\e922"');
$icon-google-plus-sq: unquote('"\\ea8c"');
$icon-google-plus-circle: unquote('"\\ea8d"');
$icon-google-drive: unquote('"\\ea8f"');
$icon-youtube: unquote('"\\ea9d"');
$icon-git-hub-circle: unquote('"\\e921"');
$icon-fire-flame: unquote('"\\e9aa"');
$icon-instagram: unquote('"\\eaca"');
$icon-instagram-square: unquote('"\\eac9"');
$icon-wikipedia1: unquote('"\\eac8"');
$icon-youtube-lg: unquote('"\\ea9e"');
$icon-jet-brains: unquote('"\\e923"');
$icon-twitter: unquote('"\\ea96"');
$icon-safari1: unquote('"\\eadd"');
$icon-google-circle: unquote('"\\ea8a"');
$icon-google-squard: unquote('"\\ea89"');
$icon-google: unquote('"\\ea88"');
$icon-git-hub: unquote('"\\eaeb"');
$icon-wikipedia: unquote('"\\eacd"');
$icon-hackernews: unquote('"\\eac7"');
$icon-reddit: unquote('"\\eac6"');
$icon-skype: unquote('"\\eac5"');
$icon-soundcloud-square: unquote('"\\eac4"');
$icon-sound-cloud: unquote('"\\eac3"');
$icon-windows: unquote('"\\eac1"');
$icon-android: unquote('"\\eac0"');
$icon-finder: unquote('"\\eabf"');
$icon-appleinc: unquote('"\\eabe"');
$icon-tux: unquote('"\\eabd"');
$icon-yahoo: unquote('"\\eabc"');
$icon-yahoo-o: unquote('"\\eabb"');
$icon-tumb-tlr: unquote('"\\eaba"');
$icon-tumb-lr: unquote('"\\eab9"');
$icon-opera: unquote('"\\eade"');
$icon-safari: unquote('"\\eae0"');
$icon-edge: unquote('"\\eadc"');
$icon-ie: unquote('"\\eae4"');
$icon-firefox: unquote('"\\eada"');
$icon-chrome: unquote('"\\ead9"');
$icon-paypal: unquote('"\\ead8"');
$icon-npm: unquote('"\\eab1"');
$icon-onedrive: unquote('"\\eaaf"');
$icon-dropbox: unquote('"\\eaae"');
$icon-steam: unquote('"\\eaad"');
$icon-steam-o: unquote('"\\eaac"');
$icon-spinner-loading-11: unquote('"\\e984"');
$icon-spinner-loading: unquote('"\\e97a"');
$icon-spinner-loading-2: unquote('"\\e97b"');
$icon-spinner-loading-3: unquote('"\\e97c"');
$icon-spinner-loading-4: unquote('"\\e97d"');
$icon-spinner-loading-6: unquote('"\\e97f"');
$icon-spinner-loading-7: unquote('"\\e980"');
$icon-spinner-loading-8: unquote('"\\e981"');
$icon-spinner-loading-9: unquote('"\\e982"');
$icon-spinner-loading-10: unquote('"\\e983"');
$icon-mail: unquote('"\\e93d"');
$icon-mail-contact: unquote('"\\ea83"');
$icon-mail-circle: unquote('"\\ea86"');
$icon-whatsapp2: unquote('"\\ea93"');
$icon-heart-like: unquote('"\\e9da"');
$icon-heart-broken: unquote('"\\e9db"');
$icon-phon: unquote('"\\e937"');
$icon-phon-call: unquote('"\\e947"');
$icon-cart-purchase: unquote('"\\e93a"');
$icon-trash: unquote('"\\e938"');
$icon-bin-black: unquote('"\\e9af"');
$icon-bin-trashcan: unquote('"\\e9ae"');
$icon-cart: unquote('"\\e943"');
$icon-cart-circle: unquote('"\\e941"');
$icon-login: unquote('"\\e968"');
$icon-consultancy: unquote('"\\e902"');
$icon-consulting: unquote('"\\e90c"');
$icon-sphere-globe: unquote('"\\e9c9"');
$icon-share-social: unquote('"\\ea82"');
$icon-home: unquote('"\\e906"');
$icon-bird-house: unquote('"\\e907"');
$icon-home-dark: unquote('"\\e908"');
$icon-credit-card: unquote('"\\e93f"');
$icon-flag: unquote('"\\e9cc"');
$icon-rss: unquote('"\\ea9b"');
$icon-rss-sq: unquote('"\\ea9c"');
$icon-bubble-comment: unquote('"\\e96b"');
$icon-bubbles-comments-t: unquote('"\\e96c"');
$icon-bubbles-comments-f: unquote('"\\e96d"');
$icon-bubble-comment-l: unquote('"\\e96e"');
$icon-bubbles-comments-lb: unquote('"\\e96f"');
$icon-bubbles-comments-lbf: unquote('"\\e970"');
$icon-man: unquote('"\\e9dc"');
$icon-woman: unquote('"\\e9dd"');
$icon-man-woman: unquote('"\\e9de"');
$icon-user: unquote('"\\e93c"');
$icon-user-profile: unquote('"\\e971"');
$icon-users-group: unquote('"\\e972"');
$icon-user-plus: unquote('"\\e973"');
$icon-community: unquote('"\\e901"');
$icon-user-minus: unquote('"\\e974"');
$icon-user-check: unquote('"\\e975"');
$icon-user-tie: unquote('"\\e976"');
$icon-point-up: unquote('"\\ea03"');
$icon-point-right: unquote('"\\ea04"');
$icon-point-down: unquote('"\\ea05"');
$icon-point-left: unquote('"\\ea06"');
$icon-question-help: unquote('"\\ea37"');
$icon-cancel-circle: unquote('"\\ea3b"');
$icon-blocked: unquote('"\\ea3c"');
$icon-circle-left: unquote('"\\ea4e"');
$icon-circle-right: unquote('"\\ea4c"');
$icon-circle-down: unquote('"\\ea4d"');
$icon-circle-up: unquote('"\\ea4b"');
$icon-expand-collapse: unquote('"\\e98b"');
$icon-shrink-collapse: unquote('"\\e98c"');
$icon-arrow-up-left: unquote('"\\ea43"');
$icon-arrow-up: unquote('"\\ea44"');
$icon-arrow-up-right: unquote('"\\ea45"');
$icon-arrow-right: unquote('"\\ea46"');
$icon-arrow-down-right: unquote('"\\ea47"');
$icon-arrow-down: unquote('"\\ea48"');
$icon-arrow-down-left: unquote('"\\ea49"');
$icon-arrow-left: unquote('"\\ea4a"');
$icon-undo-prew: unquote('"\\e967"');
$icon-redo-next: unquote('"\\e979"');
$icon-forward-left: unquote('"\\e97e"');
$icon-forward-righ: unquote('"\\e985"');
$icon-angle-double-down: unquote('"\\e948"');
$icon-angle-double-up: unquote('"\\e949"');
$icon-angle-double-right: unquote('"\\e94a"');
$icon-angle-double-left: unquote('"\\e94b"');
$icon-angles-left-solid: unquote('"\\e94c"');
$icon-angles-right-solid: unquote('"\\e94f"');
$icon-angles-up-solid: unquote('"\\e94d"');
$icon-angles-down-solid: unquote('"\\e94e"');
$icon-terminal: unquote('"\\ea81"');
$icon-libreoffice: unquote('"\\eae3"');
$icon-books-library: unquote('"\\e920"');
$icon-download: unquote('"\\e9c5"');
$icon-upload: unquote('"\\e9c6"');
$icon-download-save: unquote('"\\e9c7"');
$icon-up-load: unquote('"\\e9c8"');
$icon-bookmark: unquote('"\\e9d2"');
$icon-bookmarks: unquote('"\\e9d3"');
$icon-tags-black: unquote('"\\e90a"');
$icon-tags: unquote('"\\e90b"');
$icon-price-tag: unquote('"\\e935"');
$icon-price-tags: unquote('"\\e936"');
$icon-image: unquote('"\\e90d"');
$icon-pictures: unquote('"\\e90e"');
$icon-folder-download: unquote('"\\e933"');
$icon-folder-upload: unquote('"\\e934"');
$icon-folder-open-directory: unquote('"\\e930"');
$icon-folder-directory: unquote('"\\e92f"');
$icon-folder-plus: unquote('"\\e931"');
$icon-folder-minus: unquote('"\\e932"');
$icon-enter-signin: unquote('"\\ea41"');
$icon-exit-signout: unquote('"\\ea42"');
$icon-file-word: unquote('"\\eae1"');
$icon-file-excel: unquote('"\\eae2"');
$icon-html-five-o: unquote('"\\eae5"');
$icon-html-five: unquote('"\\eae9"');
$icon-calendar: unquote('"\\e939"');
$icon-warning: unquote('"\\ea35"');
$icon-notification: unquote('"\\ea36"');
$icon-information: unquote('"\\ea3a"');
$icon-droplet: unquote('"\\e910"');
$icon-zoom-in: unquote('"\\e988"');
$icon-contrast: unquote('"\\e9d5"');
$icon-search: unquote('"\\e92e"');
$icon-clipboard: unquote('"\\e9b8"');
$icon-compare: unquote('"\\e912"');
$icon-check-box: unquote('"\\e946"');
$icon-link-chain: unquote('"\\e9cb"');
$icon-lock-secure: unquote('"\\e98f"');
$icon-unlocked: unquote('"\\e990"');
$icon-power-cord: unquote('"\\e9b7"');
$icon-tree-branches: unquote('"\\e9be"');
$icon-cross-middle: unquote('"\\e944"');
$icon-arrow-select: unquote('"\\e93e"');
$icon-grid: unquote('"\\e942"');
$icon-list-number: unquote('"\\e9bc"');
$icon-list-bullet: unquote('"\\e945"');
$icon-list-todo: unquote('"\\e9bd"');
$icon-amazon: unquote('"\\ea87"');
$icon-plus: unquote('"\\ea38"');
$icon-minus: unquote('"\\ea39"');
$icon-cancel: unquote('"\\ea3d"');
$icon-check-mark-d: unquote('"\\ea3e"');
$icon-check-mark: unquote('"\\ea3f"');
$icon-spell-check: unquote('"\\ea40"');
$icon-quotes-left: unquote('"\\e989"');
$icon-quotes-right: unquote('"\\e98a"');
$icon-zoom-out: unquote('"\\e98d"');
$icon-en-large: unquote('"\\e98e"');
$icon-en-small: unquote('"\\e991"');
$icon-paragraph-left: unquote('"\\ea77"');
$icon-paragraph-center: unquote('"\\ea78"');
$icon-paragraph-right: unquote('"\\ea79"');
$icon-paragraph-justify: unquote('"\\ea7a"');
$icon-indent-increase: unquote('"\\ea7b"');
$icon-indent-decrease: unquote('"\\ea7c"');
$icon-dzen: unquote('"\\e9a3"');
$icon-instagram-squard: unquote('"\\e9a4"');
$icon-pug: unquote('"\\e9a5"');
$icon-gulp: unquote('"\\e956"');
$icon-javas-cript: unquote('"\\e957"');
$icon-java: unquote('"\\e958"');
$icon-vue-dot-js: unquote('"\\e959"');
$icon-node-js: unquote('"\\e95a"');
$icon-react: unquote('"\\e99b"');
$icon-money-bag: unquote('"\\e919"');
$icon-document-file-java: unquote('"\\e95b"');
$icon-document-java: unquote('"\\e95c"');
$icon-file-java: unquote('"\\e95d"');
$icon-file-java-o: unquote('"\\e95e"');
$icon-instagram-circle: unquote('"\\e9a6"');
$icon-dollar-money: unquote('"\\e91f"');
$icon-dollars: unquote('"\\e91a"');
$icon-recycle: unquote('"\\e905"');
$icon-location: unquote('"\\e924"');
$icon-enve-mail: unquote('"\\e925"');
$icon-location-restroom: unquote('"\\e926"');
$icon-arrow-outline-down: unquote('"\\e927"');
$icon-arrow-outline-left: unquote('"\\e928"');
$icon-arrow-outline-right: unquote('"\\e929"');
$icon-arrow-outline-up: unquote('"\\e92a"');
$icon-arrow-down-o: unquote('"\\e92b"');
$icon-arrow-leftc-o: unquote('"\\e92c"');
$icon-arrow-thin-right: unquote('"\\e950"');
$icon-arrow-up-o: unquote('"\\e95f"');
$icon-refresh: unquote('"\\e960"');
$icon-reload: unquote('"\\e961"');
$icon-reply: unquote('"\\e962"');
$icon-reply-all: unquote('"\\e963"');
$icon-subdirectory-left: unquote('"\\e964"');
$icon-subdirectory-right: unquote('"\\e965"');
$icon-location-current: unquote('"\\e966"');
$icon-pin: unquote('"\\e969"');
$icon-color-palette: unquote('"\\e96a"');
$icon-badge: unquote('"\\e977"');
$icon-battery-full: unquote('"\\e978"');
$icon-battery-half: unquote('"\\e986"');
$icon-battery-low: unquote('"\\e987"');
$icon-save-disk: unquote('"\\e99e"');
$icon-anchor: unquote('"\\e99d"');
$icon-zoom-in-o: unquote('"\\e99c"');
$icon-announcement: unquote('"\\e993"');
$icon-view-hide: unquote('"\\e992"');
$icon-view-show: unquote('"\\e996"');
$icon-zoom-out-o: unquote('"\\e997"');
$icon-edit-crop: unquote('"\\e998"');
$icon-edit-cut: unquote('"\\e999"');
