// todo -------------------------- Variables -----------------------------------
@import 'core/variables';
@import 'core/variables-icon';
@import 'core/swiper-vars';
//todo ---------------------------- Core ---------------------------------------
@import 'core/mixins';
@import 'core/extend';
@import 'core/modifiers';
@import 'core/reset';
@import 'core/ui';
//todo ------------------------- Default fonts ---------------------------------
// &display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap&subset=cyrillic-ext');
// todo --------------------------- Fonts --------------------------------------
@import 'core/fonts';
//todo  ------------------------ Icon Fonts ------------------------------------
@import 'core/iconfonts';
// todo -------------------------- Plugins -------------------------------------
@import 'assets/swiper';
// todo -------------------------- Classes -------------------------------------
// #region
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0 auto;
}

[class*='_container'] {
	max-width: $maxWidthContainer;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 15px;
}

[class*='grid-'] {
	display: grid;
}

[class*='icon-'] {
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

[class*='_stretch'] {
	position: relative;
	z-index: 0;
}

// todo --------------------------- Assets -------------------------------------
@import 'assets/burger-button';
@import 'assets/button';
// @import 'assets/audio-player';
// todo --------------------------- layout -------------------------------------
@import 'layouts/bem-block';
@import 'layouts/header';
@import 'layouts/footer';
// todo --------------------------- Pages --------------------------------------
@import 'pages/page-bio';
// @import 'pages/page-main';
// todo --------------------------- Modules ------------------------------------
@import 'modules/preloader';
// @import 'modules/loading';
// @import 'modules/breadcrumbs';
// todo -------------------------- Sections ------------------------------------
@import 'section/section-mainslide';
@import 'section/menu-float';
@import 'section/section-about';
@import 'section/section-achieve.scss';

// -----------------------------------------------------------------------------
