nav.breadcrumbs 
  ul._list 
    li._item
      a(href="#scills")._link Scills
    li._item
      .icon-angle-right
      a(href="#web")._link Web Development 
    li._item
      .icon-angle-right
      a(href="#experience")._link Experience
