.clock
  ._wrapper
    ._items
      ._column
        ._time._light
        ._date
          span._month
          |  

          span._day
          | , 

          span._year
        .button
          .button__switch-time(type="button") 24 hour clock
      .weekday._weekday
        ul._days
          li._sunday Sun
          li._monday Mon
          li._tuesday Tues
          li._wednesday Wed
          li._thursday Thurs
          li._friday Fri
          li._saturday Sat