extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/appindex.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/index.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/animateindex.min.js")
block title
	- var text='Студия зувукозаписи "Gusli" Обнинск' 

block page
	.page
		block header
			._header  
			._fade-in.bp-1
		._main-content
			block main-content 
				main.main-content#wrapper 
					._content#content 
						block section
							section._slide 
							section._services  
						block footer
							._footer 
			block mobile-menu
				._menu-float 
		block button 
			._button#scrollButton
				+iconfont('angle-down')