extends ../layouts/app_layout
block title
	- var text='Студия зувукозаписи "Gusli" Обнинск' 

//- block header
//- 	include ../layouts/header
block main-content 
	include ../layouts/main-content

block footer
	//- include ../layouts/footer