.page {
	height: 100%;
	overflow: hidden;

	// .page__header
	&__header {
		position: fixed;
		top: 0;
		left: 0;

		width: 100%;
		z-index: 11;
		height: 10rem;
	}

	// .page__fade-in
	&__fade-in {
		@include screen-920 {
			position: fixed;
			opacity: 0;
			right: 0;
			top: 10rem;
			z-index: 19;
			transform: translate3d(300px, 0, 0);
			padding: 1.5rem 3rem;
			border: 1px $neon-blue-dark;
			border-style: none none solid solid;
			border-radius: 0 0 0 6px;
			box-shadow: 0 1px 10px #000;
			visibility: hidden;
			transition:
				transform 0.5s,
				opacity 0.5s ease-in-out;

			&._active {
				display: flex;
				transform: translate3d(0, 0, 0);
				opacity: 1;
				visibility: visible;
			}
			&.with-border {
				background: linear-gradient(to right, #271e4d 60%, #1a1530);
			}
		}
	}

	// .page__content
	&__main-content {
		position: relative;
		inset: 0;
		height: 100%;
		width: 100%;
		z-index: 8;
	}
}

.main-content {
	// .main-content__content
	&__content {
		position: relative;
		@extend .gradient-services;
	}

	// .main-content__slide
	&__slide {
		position: relative;
		z-index: 7;
		@extend .gradient;

		&::before {
			left: 0;
		}
		&::after {
			right: 0;
			@extend .gradient-border-right;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			z-index: 10;
			bottom: 0;
			width: 100%;
			height: 2px;
		}
	}

	// .main-content__services
	&__services {
		position: relative;
		z-index: 6;
	}

	// .main-content__footer
	&__footer {
		position: relative;
		z-index: 9;
		@extend .gradient-services;
	}

	// .main-content__equalizer
	&__equalizer {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 100px;
		bottom: 200px;
		margin: auto;
		left: -1;
		right: -1;
		display: flex;
		align-items: center;
	}
}
