.page {
	//. page_buttom
	&__aside {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 45px;
		z-index: 13;
		padding-left: 1rem;

		._button {
			cursor: pointer;
			position: absolute;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			top: 50%;
			left: 0;
			z-index: 13;
			font-size: 3.8rem;
			color: $neon-blue;
			background: $black-color;
			margin-left: 1rem;
			transition: all 0.5s ease-in-out; /* Плавное изменение фона */
			&:hover {
				box-shadow: 0 0 4px $neon-blue;
				animation: fadeInBackground;
			}
			i {
				text-shadow: 2px 2px 3px #000;
			}
		}

		&._rotate {
			i {
				scale: -1;
				text-shadow: -2px -2px 3px #000;
			}
			._button {
				color: $neon-blue-dark;
			}
		}
	}
}
// @keyframes fadeInBackground {
// 	// 0% {
// 	// 	background: rgb(28, 21, 63);
// 	// }
// 	100% {
// 		background: $black-color;
// 	}
// }
