.clock {
	display: inline-block;
	text-align: center;
	color: #6f7e86;
	text-shadow: 2px 2px 3px #000;
	@include _690 {
		display: none;
	}

	&__wrapper {
		display: flex;
		margin: 0 auto;
	}

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__column {
		display: flex;
		justify-content: center;
		flex-direction: row;
		&:nth-child(1) {
			margin-bottom: 0.5rem;
		}
	}

	&__time {
		font-size: 1.1rem;
	}

	&__date {
		margin-left: 1.5rem;
		font-size: 1.1rem;
	}
}
.button {
	&__switch-time {
		cursor: pointer;
		margin-left: 1.5rem;
		font-size: 1.1rem;
	}
}
.weekday {
	display: block;
}

button {
	position: relative;
	margin-left: 1.5rem;
	font-size: 1.1rem;
	background: transparent;
	color: #99b0f581;
	top: 0;
	border: none;
	outline: none;
}

button:hover {
	color: #444;
	transition: color 0.5s;
	cursor: pointer;
}

ul {
	font-size: 1.1rem;
	color: #6f7e86;
}
ul li {
	margin: 0 0.5rem;
	display: inline-block;
}

._light {
	color: #7796f3;
	text-align: center;
	-webkit-animation: _light 1s ease-in-out infinite alternate;
	-moz-animation: _light 1s ease-in-out infinite alternate;
	animation: _light 1s ease-in-out infinite alternate;
}

@keyframes _light {
	from {
		text-shadow:
			0 0 10px #fff,
			0 0 20px #fff,
			0 0 30px #04c8e2d3,
			0 0 40px #04c8e2d3,
			0 0 50px #04c8e2d3,
			0 0 60px #04c8e2d3,
			0 0 70px #04c8e2d3;
	}

	to {
		text-shadow:
			0 0 20px #fff,
			0 0 30px #002231,
			0 0 40px #002231,
			0 0 50px #002231,
			0 0 60px #002231,
			0 0 70px #002231,
			0 0 80px #002231;
	}
}
