- 
	var navigation = [
		{alink: '#', name: 'Html'},
		{alink: '#', name: 'Pug'},
		{alink: '#', name: 'Php'},
		{alink: '@@webRoot/css-reference/css_reference.html', name: 'Css'},
		{alink: '#', name: 'Sass/Scss'},
		{alink: '#', name: 'JavaScript'},
		{alink: '#', name: 'Vue js'},
		{alink: '#', name: 'React js'},
		{alink: '#', name: 'Git'},
		{alink: '@@webRoot/css-reference/defoult.html', name: 'How to'}
	]
