.main-slide
	._body._swiper
		._slide-wrapper
			._content
				._title.el-slidetitle
					span Профессиональная 
					| Студия Звукозаписи
				._text Мы - современная студия звукозаписи, в которой работают лучшие российские специалисты в области записи и продюсирования музыки, предоставляющие самый лучший сервис и удобства для современных артистов, как подписанных, так и независимых.
			._slide-image._img
				img(src="./img/slides/bg-img-1.jpg", alt="")
		._slide-wrapper
			._content
				._title 
					span Индивидуальный  подход 
					| к Нашим Клиентам
				._text В нашей студии мы всегда стараемся делать все возможное, чтобы процесс записи был вдохновляющим и творческим. Мы индивидуально подбираем подход к каждому клиенту, с которым работаем.
			._slide-image._img
				img(src="./img/slides/bg-img-2.jpg", alt="")
		._slide-wrapper
			._content
				._title 
					span Все виды 
					| Микширования Звука
				._text Если вы ищете качественное сведение звука, то в нашей студии есть все, что вам нужно! Помимо первоклассных решений для микширования и мастеринга, мы также предлагаем полный цикл услуг по созданию музыки.
			._slide-image._img
				img(src="./img/slides/bg-img-3.jpg", alt="")