nav.menu-float
	._body
		._inner 
			._wrapper
				._top 
					._top-content
						.main-menu
							._menu-wrapper
								._column
									ul._menu-nav 
										._title
											h4 Inspiration
										li._menu-link
											a(href="")._menu-link Видео
										li._menu-link
											a(href="")._menu-link Звук
										li._menu-link
											a(href="")._menu-link Текст
										li._menu-link
											a(href="")._menu-link Ивенты
										li._menu-link
											a(href="")._menu-link Услуги
										li._menu-link
											a(href="")._menu-link Контакты
								._column
									ul._menu-nav 
										._title
											h4 w.
										li._menu-link
											a(href="")._menu-link Наши достижения  
										li._menu-link 
											a(href="")._menu-link Биография
										li._menu-link
											a(href="")._menu-link С кем работали
										li._menu-link
											a(href="")._menu-link Отзывы клиентов
										li._menu-link
											a(href="")._menu-link Галерея
				._bottom
					._layout.--primary
						._content 
							a(href="tel:+79106044424")._mail 
								._logo
									+iconfont('phone-call') 
								._breadcrumb
									strong._title G.студия
					._layout.--secondary
						._content 
							._nav
								._menu-link 
									a(href="#") Home
								._menu-link 
									a(href="#services") Servisec
								._menu-link 
									a(href="#footer") Contacts 
					._layout.--button 
						._content 
							.burger-button
								._items
									svg(viewBox="10 6 44 36")
										path(d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37")
										path(d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24")
										path(d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37")
