doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Краткое описание документа.")
		meta(name="keywords", content="keywords-ключевые слова для поиска")
		link(rel="icon" href="@@webRoot/img/icons/gulp-logo.ico" type="image/icon")
		link(href="@@webRoot/css/style.min.css" rel="stylesheet" type="text/css")

		script(defer="defer" type="text/javascript" src="@@webRoot/js/app.min.js")
		script(defer="defer" type="text/javascript" src="@@webRoot/js/main.min.js")
		title Gulp-Stary-V-ES6 

	body 
		block page  
		
