include ../includes/mixins 
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Краткое описание документа")
		meta(name="keywords" content="keywords-ключевые слова для поиска")
		block link
			link(rel="icon" type="image/icon" href="@@webRoot/img/icons/icon-logo.ico") 
		block script
			script(defer="defer" type="text/javascript" src="@@webRoot/js/main.min.js") 
		//- prepend script 
			
		block title
		- var text
			title #{text}

	body
		include ../modules/preloader
		include ../includes/mixins
		div(class="wrapper")
			block page-content 
				block main-content 
		//- script.
		//- 		document.addEventListener('DOMContentLoaded', function() {
		//- 				var element = document.getElementById('target-services');
		//- 				if (element) {
		//- 						element.scrollIntoView({ behavior: 'smooth' });
		//- 				} else {
		//- 						console.error('Элемент с идентификатором target-services не найден на странице.');
		//- 				}
		//- 		})