include ../includes/mixins 
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Краткое описание документа")
		meta(name="keywords" content="keywords-ключевые слова для поиска")
		block link
			link(rel="icon" type="image/icon" href="@@webRoot/img/icons/icon-logo.ico")
			link(rel="stylesheet" type="text/css" href="@@webRoot/css/style.min.css" ) 
		block script 
			//- script(defer="defer" type="text/javascript" src="@@webRoot/js/gsap.min.js")
			//- script(defer="defer" type="text/javascript" src="@@webRoot/js/ScrollTrigger.min.js")
			//- script(defer="defer" type="text/javascript" src="@@webRoot/js/ScrollSmoother.min.js") 
			//- script(defer="defer" type="text/javascript" src="@@webRoot/js/SplitText.min.js")
			//- script(defer="defer" type="text/javascript" src="@@webRoot/js/chroma.min.js")
			script(defer="defer" type="text/javascript" src="@@webRoot/js/app/app.min.js")
			script(defer="defer" type="text/javascript" src="@@webRoot/js/animated.min.js") 
			script(defer="defer" type="text/javascript" src="@@webRoot/js/main.min.js") 
		block title
		- var text
			title #{text}

	body  
		include ../modules/loading 
		include ../includes/mixins 
		div(class="wrapper")
			block page
				.page 
					block header 
						header._header#home
							._header-wrapper
							._fade-in.bp-1 
					main._main-content
						block main-content 
							block section
							block footer 






