header.header
	._container
		._column
			._logo
			._text 
				h1 recording 
				p
					span studio
					span Obninsk
		._column
			._menu
				._item 
					a(href="#") HOME 
				._item 
					a(href="#") VIDEOS 
				._item
					a(href="#") BIO 
				._item
					a(href="#") NEWS 
				._item
					a(href="#") CONTACTS 
		._column
			._community
				._icon
					+iconfont('whatsapp')
				._icon
					+iconfont('vk-brand')
				._icon
					+iconfont('telegram-fly')
				._icon
					+iconfont('youtube')

