body
	.wrapper#name
		include ./pug/chunk/header.pug
		div.main._container
			.main__content.content-main
				.content-main__title
					h1.title Главная!!
				.content-main__body 
					//- img(alt="Изображение" src="img/image.jpg")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur explicabo porro possimus quo sunt. Cumque dolores dolorum expedita illo modi numquam praesentium. Expedita facere nesciunt nisi, obcaecati quod	rerum sapiente!
					a.content-main__link(href="img/warrior.jpeg" target="_blank") 8-499-123-45-67
		include pug/chunk/footer
