main.main-content 
	._content
		section._slide 
			block main-slide 
		section._services
			block services
		//- section._spacer


			//- .page 
			//- 	._header
			//- 		block header 
			//- 	._main-content
			//- 		block main-content 
			//- 	footer._footer
			//- 		block footer 
			//- 	._modal
			//- 		block modal